.date-dropdowns .day, .date-dropdowns .month, .date-dropdowns .year{width: 30%; float: left; margin-right: 5%;}
         .date-dropdowns .year{margin-right: 0;}
         .example {
         width: 33%;
         min-width: 400px;
         padding: 15px;
         display: inline-block;
         box-sizing: border-box;
         text-align: center;
         }
         .example:first-of-type {
         position: relative;
         bottom: 35px;
         }
         /* Example Heading */
         .example h2 {
         font-family: "Roboto Condensed", helvetica, arial, sans-serif;
         font-size: 1.3em;
         margin: 15px 0;
         color: #4F5462;
         }
         .example input {
         display: block;
         margin: 0 auto 20px auto;
         width: 150px;
         padding: 8px 10px;
         border: 1px solid #CCCCCC;
         border-radius: 3px;
         background: #F2F2F2;
         text-align: center;
         font-size: 1em;
         letter-spacing: 0.02em;
         font-family: "Roboto Condensed", helvetica, arial, sans-serif;
         }
         .example select {
         padding: 10px;
         background: #ffffff;
         border: 1px solid #CCCCCC;
         border-radius: 3px;
         margin: 0 3px;
         }
         .example select.invalid {
         color: #E9403C;
         }
         .example input[type="submit"] {
         margin-top: 10px;
         }
         .example input[type="submit"]:hover {
         cursor: pointer;
         background-color: #e5e5e5;
         }

         .date-dropdowns label{margin-top: 42px !important;}

         .dropdown-content_hover{   
                display: none;
                position: absolute;
                color: #3b5283;
                background-color: #fff;
                min-width: 180px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                margin-top: 3px;
                z-index: 1;
                left: -23px;
                border-radius: 4px;
                padding-bottom: 7px;}

         div.panel {  display: block !important; }
         
   #stream1-error{margin-right: 34px;}
   #university1-error{margin-right: 32px;}
 /*  #university1-error{margin-right: 0px;}*/
   #college1-error{margin-right:33px;}
   #percentage1-error{margin-right: 33px;}
   #pass_year1-error{margin-right: 32px;}
   #degree1-error{margin-right: 34px;}

   .job_work_experience_main_div{
   margin-top: 10px;
   display: inline-block;
   }
   .img_remove img{display: none!important;}

    .keyskil, #other_keyskill1, #other_keyskill{width:93% !important;}    
  .common-form .edit_other_skill1{width: 93% !important;margin-top: 6px;}

  .job_work_experience_main_div{
   margin-top: 10px;
   border-bottom: 2px solid #d9d9d9;
   margin-bottom: 20px;
   }

   .hs-submit img{
   display: none !important;
   }

    #experience_month-error{margin-top: 0px;margin-right: 35px;}
   #experience_year-error{margin-top: 39px;margin-right: 35px;}
   #jobtitle-error{margin-right: 35px; margin-top: 0px;}
   #companyname-error{margin-right: 35px; margin-top: 0px;}

    @media (max-height: 600px), (max-width: 480px) {
   .credits {
   position: inherit;
   }
   }

   #popup-form img{display: none;}

    #work6 {
        display: block;
    }
    #gra1 {
        display: block;
    }