/* font-family: 'FontAwesome'; */
/*
.job-post-title {
    padding: 10px 15px;
}
.job-post-detail h6 a {
    color: #1b8ab9;
    font-size: 16px;
    text-transform: capitalize;
}
.job-post-detail h6 a:hover {
    color: #000;
}
.job-post-detail span {
    word-break: break-word;
    word-wrap: break-word;
}*/
/*.radio {
    margin-top: 4px;
}
.radio span {
    display: block;
    margin-bottom: 5px;
}
.radio input {
    width: auto;
    float: left;
}
.radio input[type=radio] {
    margin: 5px 0 0;
}
.radio label {
    margin-left: 0px;
    margin-right: 10px;
}
.submit {
    float: right;
}
.submit input {
    width: auto;
    float: right;
}*/
    /*.message .btn:focus{color: white;}
        .message .btn:hover{color: white;}*/

/**#jobseeker_regform_primary {
    border: none !important;
    margin-bottom: 0px!important;
}**/
/* Profile */
/*
.profile-banner {
    background: url(../images/16128502_1322030877858370_27811870_n.jpg) no-repeat center;
    background-size: cover;
    padding: 165px 0;
    position: relative;
    border: 1px solid #000;
    border-color: rgba(0, 0, 0, .10);
    border-top-color: rgba(0, 0, 0, .1);
}
.profile-banner:after {
    background: rgba(76, 76, 76, 0.02);
    background: -moz-linear-gradient(top, rgba(76, 76, 76, 0.02) 0%, rgba(19, 19, 19, 0.1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76, 76, 76, 0.02)), color-stop(100%, rgba(19, 19, 19, 1)));
    background: -webkit-linear-gradient(top, rgba(76, 76, 76, 0.02) 0%, rgba(19, 19, 19, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(76, 76, 76, 0.02) 0%, rgba(19, 19, 19, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(76, 76, 76, 0.02) 0%, rgba(19, 19, 19, 0.1) 100%);
    background: linear-gradient(to bottom, rgba(76, 76, 76, 0.02) 0%, rgba(19, 19, 19, 0.1) 100%);
    display: block;
    width: 100%;
    height: 10%;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
}*/
/*.profile-text {
    color: #aba2a2;
    font-size: 16px;
    word-break: break-word;
    word-wrap: break-word;
    width: 100%;
}*/
/* Business Profile */

/* Artistic */
/*
.artistic_commentpost {
    font-size: 14px;
}
.artistic_commentpost {
    border-bottom: 1px solid #ddd;
    padding-bottom: 14px;
    margin-bottom: 15px;
}
.artistic_commentpost_comment {
    padding: 8px 0 10px;
    width: 100%;
    clear: both;
}*/
/* job-post*//**
.edit_pr_bar{width: 23%!important; display: inline-block; margin: 0px !important;}**/
/**
.profile-job-details p i {
    margin-left: 10px;
}**/
/**.dele_highrt{margin-top: 15px;  }
.dele_highrt img{float: left;}**/
/* resume-menu*/
/* Freelancer Apply List *

.freelancer_apply_list {
    margin: 0 0 15px;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.freelancer_apply_list ul {
    margin: 0 0 10px;
    padding: 0;
}
.freelancer_apply_list ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* chat*/
/*
#Inbox_count {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    margin-left: 77px;
    border-radius: 9px;
    position: absolute;
    margin-top: -11px;
    font-size: 11px;
}

.job-saved-box .rec-edit-pro {
    margin-top: -45px;
}
.rec-edit-pro ul {
    font-size: 0;
    margin: 0;
    padding: 0;
}
.rec-edit-pro ul li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    position: relative;
}
.rec-edit-pro ul li a {
    color: #fff;
    padding: 12px 21px 12px;
    display: block;
}

*/
@media screen and (min-width: 800px) {
    #floatBarsG {
       transform: scale(1);
    }
}
@media (max-width: 768px) {
    .left-side-menu {
        width: 0;
        float: left;
        height: 7%;
        border-right: none;
    }
    .right-side-menu {
        float: left;
        /*height: 6.5%;*/
        
        margin-left: 10px;
    }
}

/*
.post-design-name ul li .else_post_d a {
    display: inline-block;
}
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
*/

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
}
/**
.back {
    width: 50%;
    position: relative;
    background-color: #fff;
    color: #1b8ab9;
    border: 1px solid #1b8ab9;
    border-radius: 30px;
}

/**.profile-job-details .job_companyname {
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}**/
/**.user_lst li .follow-li-text a {
    color: #1b8ab9!important;
}
.user_lst li .follow-li-text a:hover {
    color: #136386!important;
}
#edit {
    min-height: 30px;
    padding: 5px;
    overflow: hidden;
    cursor: text;
    background: #BBB;
    border: 5px solid;
    border-radius: 10px;
    width: 300px;
    text-align: left;
}
.thumb {
    width: 99px;
    height: 99px;
    margin: 0.2em -0.7em 0 0;
}
.remove_thumb {
    position: relative;
    top: -38px;
    right: 5px;
    background: black;
    color: white;
    border-radius: 50px;
    font-size: 1.5em;
    padding: 0 0.3em 0;
    text-align: center;
    cursor: pointer;
}
.remove_thumb:before {
    content: "×";
}
.main_form {
    padding-top: 80px;
}
**/

/***  freelance  ***/
.free_attc img {
    width: 100%;
    height: 100%;
}
.free_attc {
    width: 100px;
    height: 100px;
    display: block;
}
fieldset .add_post_btns:hover {
    background-color: #156f95!important;
}
.job-profile-left-side-bar .left-side-bar ul li.active a:hover {
    background-color: #156f95
}
.butt_rec {
    background: #1b8ab9 !important;
    color: #fff !important;
    padding: 10px 35px;
    display: inline-block !important;
    border-radius: 4px;
    pointer-events: none !important;
}
.butt_rec:hover {
    background: #1b8ab9 !important;
    color: #fff !important;
}
.fa-2x {
    font-size: 2em;
}
/***  end freelance post(apply) ***/








.profile-job-post-detail .post-design-box {
    border: none;
    margin-bottom: 0;
}
.custom-row .user-pic:hover a {
    padding: 4px 4.4px;
}
.profile-text-bui-user .profile-boxProfile-name a {
    padding-left: 0px !important
}
.business_pf_ct_person_form form ul li span {
    word-wrap: break-word;
    word-break: break-word;
    padding-right: 10px !important;
    display: flex !important;
    float: right;
    width: 65% !important;
}
.business_pf_ct_person_form form ul li span::before {
    content: ":";
    padding-right: 20px;
    float: left;
}
.post-design-box .post-design-desc a {
    color: black;
}

.profile-art-box .right_left_box_design {
    padding-bottom: 0px !important;
}
/*Setting*/

.padd_set {
    padding: 48px 0;
}
.padd_set h3 {
    font-size: 22px;
    position: absolute;
    color: white;
    top: 1px;
}
.padd_set .change-password {
    padding: 50px 0;
}
.user-midd-section .padd_set {
    padding: 80px 20px;
    padding-left: 0;
}
.common-form .keyskill_border_active ul {
    border: 1px solid red !important;
}
.common-form .keyskill_border_active ul {
    border: none !important;
}
.common-form span.keyskill_border_active {
    border: 1px solid red!important;
}
.common-form span.keyskill_border_active {
    border: 1px solid red!important;
}
.worktype_minheight {
    min-height: 50px;
}
.clear {
    clear: both;
}

.custom-border .headerborder {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*jon new design*/



.common-form fieldset label#other_skill{font-size: 13px; color: #808080;}
.common-form fieldset label#other_skill .other_skill_clik{font-weight: 600; color: #1b8ab9;}

.login .form-group input, .login .form-group select, .login .form-group textarea {
    border: none;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 0px;
    box-shadow: none;
    font-size: 15px;
    color: #848484;
    height: 35px;
    padding-left: 6px;
}
.common-form fieldset label#other_skill:hover .other_skill_clik{text-decoration: underline; cursor: pointer; color: #1b8ab9; text-transform: inherit;}

.text_center{text-align: center;}




 
/***  notification hover effect  ***/


/**.panel {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #fff;
    background: none;
    box-shadow: none;
}**
.panel:last-child {
    border-bottom: none;
}
/**.panel-group > .panel:first-child .panel-heading {
    border-radius: 4px 4px 0 0;
}
/**.panel-group .panel {
    border-radius: 0;
}**
.panel-group .panel + .panel {
    margin-top: 0;
}
.panel-heading.active {
    background-color: #156f95;
}
.panel-heading {
    background-color: #1b8ab9;
    border-radius: 0;
    border: none;
    color: #fff;
    padding: 0;
}
.panel-title a {
    display: block;
    color: #fff;
    padding: 15px;
    position: relative;
    font-size: 22px;
    font-weight: 400;
}
.panel-body {
    background: #fff;
}
.panel:last-child .panel-body {
    border-radius: 0 0 4px 4px;
}
.panel:last-child .panel-heading {
    border-radius: 0 0 4px 4px;
    transition: border-radius 0.3s linear 0.2s;
}
.panel:last-child .panel-heading.active {
    border-radius: 0;
    transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option *

.panel-heading a:before {
    content: '\f067';
    position: absolute;
    font-family: 'FontAwesome';
    right: 15px;
    top: 10px;
    font-size: 20px;
    transition: all 0.5s;
    transform: scale(1);
}
.panel-heading.active a:before {
    content: ' ';
    transition: all 0.5s;
    transform: scale(0);
}**
#bs-collapse .panel-heading a:after {
    content: ' ';
    font-size: 20px;
    position: absolute;
    font-family: 'FontAwesome';
    right: 15px;
    top: 10px;
    transform: scale(0);
    transition: all 0.5s;
}
#bs-collapse .panel-heading.active a:after {
    content: '\f068';
    transform: scale(1);
    transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
    transform: rotate(0deg);
    transition: all 0.5s;
}

.panel-group.wrap .panel-title a {
    padding: 10px 15px;
    font-size: 18px;
    line-height: 1;
}
/**.panel-group.wrap {
    margin-top: 25px;
}**
.panel-group.wrap .panel {
    margin-bottom: 10px;
}**
.panel-group.wrap .panel-heading {
    border-radius: 0 !important;
}**
.border {
    border: 1px solid #ddd;
}
/***  eduction tabbing  ***/

html {
    min-height: 100%;
    position: relative;
}
body {
    min-height: 100%;
}
.border {
    border: 1px solid #ddd;
}
.custom-right-art {
    margin-left: 10px;
}
.art-custom .job-menu-profile {
    width: 100%;
}

.art-side-menu .flw_msg_btn a {
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 0;
}
.flw_msg_btn ul li a:hover {
    border: 1px solid #d9d9d9 !important;
}

.art-side-menu .flw_msg_btn {
    margin-top: 7px;
    margin-right: 14px;
}
.art-side-menu .flw_msg_btn button {
    margin-top: 0;
}

.tab-block {
    display: none;
}
.inner_search {
    width: 100%;
    border: 1px solid #d9d9d9;
    border-top: none;
        border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: #f3f9fb !important;
    border: none !important;
}
.ui-autocomplete {
 /*   -webkit-box-shadow: 0 0 5px 2px #ddd;
    -moz-box-shadow: 0 0 5px 2px #ddd;
    box-shadow: 0 0 5px 2px #ddd;
*/    outline: none;
}
.ui-state-focus {
    margin: 0 !important;
}

.mySlides .post-design-commnet-box .cmy_2 {
    width: 89%;
}
.text-center.tab-block a {
    font-size: 16px;
    margin: 0px 15px;
    display: inline-block;
}

.mob-inner-page {
    background: #fff;
    border-bottom: 1px solid #d9d9d9;
    padding-top: 10px;
    padding-bottom: 10px;
}

.alert.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    left: 0;
    margin: 0 auto;
    margin-top: 0px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 29%;
    z-index: 9;
    font-size: 18px;
    margin-top: -10px;
}

.profile-box-art .right-menu-jr .flw_msg_btn ul li a.butt_rec  {letter-spacing: 1px;
width: 90px;
padding: 9px 15px;
background: linear-gradient(354deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%) !important;
border: none;}

#notificationsBody1 img:hover {
    cursor: pointer;
    background-color: #d9d9d9;
    border-radius: 30%;
}

.addtocont {
    position: absolute;
    display: block;
	right: 7%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.flw_msg_btn ul li a:hover {
    border-bottom: none;
    box-shadow: none;
    color: #9C9999;
}

.message-data .message-data-time {
    width: 110px;
    display: block;
    margin: 0 auto;
}

.custom-box.even-custom{border-bottom:1px solid transparent;}
.common-form fieldset.hs-submit input:focus{color: white!important;}
.mesg_link {
    background-color: #1b8ab9;
    color: #fff;
    display: inline-block;
    padding: 6px 12px;
    margin-right: 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.message h2 {
    font-size: 22px !important;
    margin-bottom: 20px;
}
.mob-comment {
    display: none;
}
header.animated {
    z-index: 9;
}
.no-post-title{padding-left:10%; display:inline-block; float:left;}
.no-post-title h4{text-align:left;}
.add-post-custom{float:left; padding-top:15px; padding-left:20px;}
#contact_per .addtocont{
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 45px;
    text-align:center;
}
.edit-post-custom{position:relative;}
.cover .modal.in .modal-dialog{
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%, -50%);
    margin:0;
    float:left;
}
.cover .modal-close, .posterror-modal-close{line-height:30px;}

.input-group .comment[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: #ccc;
}
    .sory_image{margin: 15px;}
    .not_founde_head{color: #1b8ab9;
    font-size: 32px;
    margin: 25px;}
div .comment {
 
    border: none;
    border-top: 1px solid #ddd;
    padding-right: 150px!important;
    word-break: break-all;
    background-color: #fff;
    padding: 10px 20px 10px;
    cursor: inherit;
    font-size: 13px;
    min-height: 41px;
    position: relative;
    max-height: 120px;
    overflow-y: scroll;
    overflow-y: auto;
}

.date-dropdowns .day, .date-dropdowns .month, .date-dropdowns .year{   width: 65px;
    margin-right: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background: url(../img/down-arrow.png) no-repeat;
    background-position: right;}

.not_founde_head2{font-size: 30px; color: #1B8AB9; margin: 10PX;}
#msg_block{padding:0;}
#msg_block .input-group{background:#fff; border-top:1px solid #d9d9d9;}
#msg_block .input-group .comment{border-top:0;}
.panel-footer{position:relative;}
#chat.chat{position:relative;}

.chat .post-img-div{float:left;}
.chat_nobcx .post-img-div{float:left;}


.ui-autocomplete { max-width: 300px!important;}

.msg_right{max-width: 80%;
float: right; position:relative;}
#basicinfo .day{width:32%;}
#basicinfo .month{width:32%;}
#basicinfo .year{width:33%;}
.msg_right .messagedelete a{font-size:18px; padding-right:10px;}





.messagedelete .fa{color:#777;}
.messagedelete:hover .fa{color:#1b8ab9;}
.chat-header a:hover{color:#156f95;}
.job_edit_pr{padding-left: 245px;}

.post-design-desc  #editpostdata a{font-weight: 600}
.chat_heae_img{border:1px solid #d9d9d9;}



.about-content{width: 80% !important;line-height: 28px !important;}


/***  harshad  ***/
.chat_nobcx .post-img-div{width:42px; height:42px; padding:11px 0;}

.action-button #message_count{/*line-height: 10px;*/}
.cancel_req_busi{margin:5px 4px;}
/**.user_btn button{margin-top: 10px;}**/
.select2-container--open .select2-dropdown--below{z-index: 900;}

.left_iner_img_profile{
  float: left;

position: relative;
overflow: hidden;

}
.left_iner_img_profile img{position: absolute !important;
left: 50%;
top: 50%;
height: 100%;
width: auto!important;
-webkit-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
max-width: inherit;}

.search_head{border:1px solid #d9d9d9; padding:5px 10px;}
.cover .fancybox-slide > *{padding:0 !important; /*background:none;*/ border-radius: 5px;}
.fancybox-close-small::after{background:none; font-size:30px; color:#777;}
.fancybox-close-small:hover{background:none;}
.fancybox-close-small:hover::after{background:none;}
.cover .fancybox-slide .modal-content{padding:0;}

.cover .fancybox-slide .modal-content{border:none; box-shadow: none;}


.cover .modal-close{line-height:32px !important;}
.custom-c .middle-section{background:#f3f3f3;}
.job_work_experience_main_div input{height:35px; line-height:1;}
.job_work_experience_main_div input::-webkit-input-placeholder {
     line-height:20px !important;
}

.common-form fieldset.marital-status input, .common-form fieldset.gender-custom input {margin:0px 0 0 !important; height:35px; }
.common-form fieldset .radio_check_text{padding-right:20px;}
.certificate{border:none; padding:0; margin-top:15px;}
.hs-submit .delete_btn{margin-top:5px;}

.chat_nobcx{margin-top:10px; margin-bottom:5px;}

#search .new-search-input{height:215px;}
#search .new-search-input .btn.btn-primary{width:auto;}
.ui-autocomplete{z-index:9999 !important;}
.bg-images.no-cover-upload{
    background:#fff;
    border-bottom:1px solid #d9d9d9;
    /* IE10+ */ 
    background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FCFCFF 30%, #d5ebfd 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FCFCFF 30%, #d5ebfd 100%);
    /* Opera */ 
    background-image: -o-radial-gradient(center, ellipse farthest-corner, #FCFCFF 30%, #d5ebfd 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(30, #FCFCFF), color-stop(100, #d5ebfd));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FCFCFF 30%, #d5ebfd 100%);
    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at center, #FCFCFF 30%, #d5ebfd 100%);
}
.banner-box{border-bottom:1px solid #d9d9d9;}
.custom-row .user-pic:hover a{width:100%;}

.profile-company-name a{}

.profile-job-details .job_companyname{font-family: 'arial'; font-weight:normal;}

.post-design-desc a{font-size:15px;}

.post-img-user{
    color:#fff;
    width:152px;
    height:153px;
    background: -moz-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3bb0ac), color-stop(56%, #1b8ab9), color-stop(100%, #1b8ab9)); /* safari4+,chrome */
    background: -webkit-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* ie10+ */
    background: linear-gradient(354deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bb0ac', endColorstr='#1b8ab9',GradientType=0 );
    font-size: 40px;
    padding: 64px 0;
    text-align: center;
}
.post-img-userlist{
    color:#fff;
    width:58px;
    height:58px;
    background: -moz-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3bb0ac), color-stop(56%, #1b8ab9), color-stop(100%, #1b8ab9)); /* safari4+,chrome */
    background: -webkit-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* ie10+ */
    background: linear-gradient(354deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bb0ac', endColorstr='#1b8ab9',GradientType=0 );
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
}
#userlist{cursor: pointer;}
.post-editor .popup-img .post-img-div{margin-top:8px; margin-bottom: 7px;}
.designation_rec_1{width:90%;}
.required_field{display:none;}


.file-preview-thumbnails .file-preview-frame .file-preview-video{width:110px !important; height:100px !important;}
.custom-user{width:25px; height:25px;  
    border: 2px solid #fff;
    border-radius: 100%;
    float: left;
    font-size: 12px;
    margin-right: 5px;
    text-align: center;
    background: -moz-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3bb0ac), color-stop(56%, #1b8ab9), color-stop(100%, #1b8ab9)); /* safari4+,chrome */
    background: -webkit-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* ie10+ */
    background: linear-gradient(354deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bb0ac', endColorstr='#1b8ab9',GradientType=0 );
}

.msg_left_data{/*width:100%;*/ float:left;}
.recive-data .my-message{float:left;}
.recive-data .message-data{width:100%; float:left;}
#received li{width:100%; float:left;}
.recive-data .msg_left_data::after{}
.recive-data .messagedelete{padding-left:10px; position:absolute; right:-25px; bottom:0;}
.recive-data .messagedelete a{font-size:18px;}
.msg_right .messagedelete{position:absolute; left:-25px; bottom:0;}

.backdiv-mob{padding:15px 0 0; width:100%; float:left; display:none;}
.backdiv-mob .pull-right{float:right; display:none;}
.backdiv-mob .pull-left{float:left;}
.backdiv-mob a{opacity:0.8;}
.backdiv-mob a:hover{opacity:1;}
.chat-header .chatdropdown-content a:hover{color:#fff;}


.post-design-desc [contenteditable=true]:empty:before {
  content: attr(placeholder);
  color:#acacac;
  font-size:15px;
}

@keyframes pulse1 {
  0%{transform:scale(.1);opacity: 0;}
  50%{ opacity: .4;}
  100%{transform: scale(1.6); opacity: 0;}
}

.fileContainer {
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
}
.fileContainer i{padding:0 !important; margin:0 !important;}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}



/* Example stylistic flourishes */
.fileContainer [type=file] {cursor: pointer;}
.fileContainer:hover{background: #d9d9d9 none repeat scroll 0 0;}
.edit_profile_progress{/*display:none;*/}


.complete_profile .circle-1{height:214px;}
.edit_data{margin-top: -4px; display: inline-block; vertical-align: middle;}

#notificationContainer .content.mCustomScrollbar{overflow: hidden; border-radius: 3px;}
.chat_nobcx .post-img-div{width:50px; height:50px; padding:16px 0;}
.mian_box_num{right: 0; top: 0; padding-top: 1px;}
/*style_harshad close*/


.bui_pop_rd{padding: 16px 0px 11px 16px;}
.popup-img-bui{padding-left:3px !important;
    padding-right: 0px;
    padding-top: 0  px;
    float: left;}


/***  all keyframe css  ***/

/***  keyfream css  ***/
/**
@keyframes pulse1 {
  0%{transform:scale(0.1);opacity: 0;}
  50%{ opacity: 0.4;}
  100%{transform: scale(1.6); opacity: 0;}
}
**/
/* Move it (define the animation) */
/**
@-moz-keyframes marquee-main {
    0% {
        -moz-transform: translateX(70%);
    }
    100% {
        -moz-transform: translateX(0%);
    }
}
@-webkit-keyframes marquee-main {
    0% {
        -webkit-transform: translateX(70%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}
@keyframes marquee-main {
    0% {
        -moz-transform: translateX(70%);
       
        
        -webkit-transform: translateX(70%);
    
        
        transform: translateX(70%);
    }
    100% {
        -moz-transform: translateX(0%);
      
        
        -webkit-transform: translateX(0%);
    
        
        transform: translateX(0%);
    }
}**/

/**
@keyframes bounce_floatBarsG {
    0% {
        transform: scale(1);
        background-color: #1b8ab9;
    }
    100% {
        transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}
@-o-keyframes bounce_floatBarsG {
    0% {
        -o-transform: scale(1);
        background-color: #1b8ab9;
    }
    100% {
        -o-transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}
@-ms-keyframes bounce_floatBarsG {
    0% {
        -ms-transform: scale(1);
        background-color: #1b8ab9;
    }
    100% {
        -ms-transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}
@-webkit-keyframes bounce_floatBarsG {
    0% {
        -webkit-transform: scale(1);
        background-color: #1b8ab9;
    }
    100% {
        -webkit-transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}
@-moz-keyframes bounce_floatBarsG {
    0% {
        -moz-transform: scale(1);
        background-color: #1b8ab9;
    }
    100% {
        -moz-transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}
*/
/* ripple */

@-webkit-keyframes ripple {
    0% {
        -webkit-transform: scale(1);
    }
    75% {
        -webkit-transform: scale(1.75);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(2);
        opacity: 0;
    }
}
@keyframes ripple {
    0% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.75);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}


/*
@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
*/

/***  not use css  ***/
.alignleft,
img.alignleft {
    margin: 0px 46px 46px 0;
    display: inline;
    float: left;
}
.alignright,
img.alignright {
    margin-left: 65px;
    margin-bottom: 50px;
    display: inline;
    float: right;
}
.aligncenter,
img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
}

.about_btm {
    margin-top: 15%;
}

/***  extra ***/
.user-profile {
    padding: 20px 0;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 40px;
}
.user-img .img-circle {
    width: 100px !important;
    height: 100px !important;
    border-radius: 100%;
}
.user-detail {
    padding-top: 22px;
    padding-left: 15px;
}
.user-detail span {
    font-size: 16px;
    font-weight: 400;
}
.user-detail h6 {
    font-weight: 700;
}
/*** \views\notification\freelancer_hire_post.php **/
.freelancer_work_detail ul {
    margin: 0;
    padding: 0 0 0 28px;
}
.freelancer_work_detail ul li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 5px;
}
/** registration page **/
.registration {
    padding: 60px 0;
}
.registration h4 {
    background: #1b8ab9;
    padding: 8px 15px 11px;
    color: #fff;
}
.registration form {
    padding: 15px;
    border: 1px solid #ddd;
    border-top: 0;
}
.registration form fieldset {
    width: 50%;
}

/*-----------------------------*/