select{ text-transform: capitalize;}


select option:not(:checked) { color: black; }
 
    
select option:checked { color: black; }
.addcontact-left{width: 100%!important;
margin: 0 auto;
text-align: center;}
.addcontact-left a{padding-left: 30px !important;}
select option[disabled]:first-child { display: none; }
.file_name_pdf{color:#8c8c8c; font-size:17px; padding-left:10px; visibility:show;}
.banner-box .left-profile {
    position: absolute;
    width: 290px;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0!important;
    padding: 30px 25px;
    text-align: center;
}
.profile-job-post-location-name-rec ul li{width: 100%;}
.profile-job-post-location-name-rec .post_name{width: 93%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;}
@media screen and (max-width: 1200px) {}
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 991px) {
      .dropdown-menu::before{right: 3.5%;}
   
    .chat .chat-history .message-data.align-right .message-data-time {
        font-size: 12px;
    }
    .message-data-name {
        margin-right: 2%;
        font-size: 14px;
    }
    .chat .chat-history .other-message::after {
        left: 93%;
    }
    .chat {
        width: 68%;
    }
    .people-list {
        width: 32%;
    }
    .profile-pho {
        margin-top: -64px !important;
    }
    .pad-top-res {
        padding-top: 20px;
    }
    .fw .job-menu-profile {
        width: 22.3%;
    }
    .profile-boxProfilebuisness-avatarLink2 {
        height: 60px !important;
    }
    .right_left_box_design {
        padding: 11px 12px 8px 16px !important;
    }
    .left_box_menubar li a {
        font-size: 12px;
    }
    
   
}
@media screen and (max-width: 767px) {
  .post-design-desc{padding-left: 17px;}
  .post-design-mid{padding-left: 21px;}
    .buisness-profile-pic-candidate
    {
        margin-left: 6px;
    }
    .apply-btn a
    {
    padding:3px 10px 3px;
    font-size: 12px;
    }
    #paddingtop_fixed
    {
        padding-top: 69px !important;
    }
    .dropdown-menu {
        left: inherit !important;
        right: 0px !important;
        top: 42px;
    }
    .profile-box-art .right-menu-jr .pro-fw{width: 100%;}
    .profile-box-art .right-menu-jr .pro-fw li
    {
        width: 33% !important;
    }
    .dropdown-menu::before{right: 2.5%;}
    .header ul li a {
        padding-top: 12px!important;
        padding-bottom: 12px !important;
        padding: 16px;
    }
    .main-menu-right {
        padding-top: 0PX;
    }
   
    .cover-pic {
        position: absolute !important;
        top: inherit;
        right: -30px;
        bottom: 20%;
        z-index: 99;
    }
    .upload-img {
        margin-top: -72px !important;
    }
    .alert {
        font-size: 16px;
        padding: 12px;
    }
    .user-midd-section .padd_set {
        padding: 50px 0px 25px;
    }
    .main_form {
        padding-top: 0px;
    }
    .custom-right {
        margin-top: 30px;
    }
    .cameraButton .tooltiptext {
        font-size: 12px;
        width: 121px;
        font-weight: 600;
        margin-top: 21px;
    }
    .profile-box-art .right-side-menu {
        margin-left: 0px;
        padding-left: 0px !important;
        padding-right: 0px!important;
    }
    .profile-box-art .right-side-menu ul li {
        width: 33%;
    }
    .profile-box-art .right-menu-jr ul li {
        width: auto;
    }
    .right-menu-jr .current-user {
        width: 100%;
    }
    .profile-main-box-buis-menu .flw_msg_btn {
        margin-bottom: 5px!important
    }
    .pro-fw {
        width: 100%;
    }
    .pro-fw li {
        width: 20% !important;
    }
    .pro-fw4 {
        width: 100%;
        border-bottom: 1px solid #d9d9d9;
    }
    .pro-fw4 li {
        width: 25% !important;
    }
    .bpro-fw {
        width: 100%;
        border-bottom: 1px solid #d9d9d9;
    }
    .bpro-fw li {
        width: 20% !important;
    }
    .bpro-fw6 {
        width: 100%;
        border-bottom: 1px solid #d9d9d9;
    }
    .bpro-fw6 li {
        width: 16.66% !important;
    }
    .bpro-fw6 li a {
        text-align: center;
        display: inline-block;
        width: 100%;
    }
    .bpro-fw li a {
        text-align: center;
        display: inline-block;
        width: 100%;
    }
    .circle {
        top: 21%;
    }
    .profile-box-art .right-menu-jr ul li a {
        padding-top: 14px !important;
        padding-bottom: 14px !important;
        height: auto;
    }
    .profile-box-art .right-side-menu .flw_msg_btn ul li {
        width: auto;
    }
    .right-menu-jr .flw_msg_btn ul li a {
        padding-top: 7px !important;
        padding-bottom: 7px !important;
    }
    .right-menu-jr .current-user {
        display: inline-block;
        float: left;
        text-align: center;
    }
    .folow-ms {
        width: 100%;
        float: left;
    }
    .fw .job-menu-profile {
        width: 27.3%;
    }
    .right-menu-jr .flw_msg_btn {
        width: auto;
        padding-top: 7px;
        margin-top: 0px;
        padding-bottom: 5px;
    }
    .right-menu-jr {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
    .right-menu-jr ul {
        display: block;
        float: left;
    }
    .add-post-button a {
        font-size: 12px;
    }
    .add-post-button {
        display: inline-block;
        margin: 0px;
        margin-top: 0px;
        margin-top: 10px;
        text-align: center;
        width: 100%;
    }
    .right-side-menu {
        padding-left: 20%;
    }
    .rec_res {
        padding-top: 15px !important;
        padding-bottom: 0px;
    }
    .padding_set_res {
        padding-top: 0px !important;
    }
    .job-menu-profile {
        margin-top: 0px;
    }
    .profile-head-text {
        font-size: 18px !important;
    }
    .profile-text a {
        font-size: 16px !important;
    }
    .profile-main-rec-box-menu {
        margin-top: -63px;
    }
    .res-job-print {
        padding-top: 0px !important;
    }
}
@media screen and (max-width: 540px) {
    .main-text-area{margin:4px 3px 4px 5px;} 
    .profile-job-post-location-name-rec .post_designation{font-size: 12PX;}
    .fifty_val{right: 22px;}
.custom-right-business .popup-img img{height: 43px; width: 43px;}
.text_num{width: 23px;}.post-editor .camer_h{padding-top: 2px;}.popup-img{padding-right: 8px;}
.post-editor{padding-left: 7px; padding-right: 7px;}
                                       .header2 ul li.active a{padding: 12px 10px 10px}
.camer_h i{font-size: 19px;}
}

@media screen and (max-width: 479px) {.main-text-area{margin: 4px 3px 4px 0px;}}
@media screen and (max-width: 360px) {}