     <head> 
       <link rel="stylesheet" type="text/css" href="css/style_login.css">
       <link rel="stylesheet" type="text/css" href="css/common-style.css">
       <link rel="stylesheet" type="text/css" href="css/media.css">
     </head>

<style type="text/css">
     .reg_j h1 span{padding-bottom: 16px!important; margin-bottom: 5px!important;}
</style>

<body class="main_bdy_c">
<header>
    
        <div class="header3">
    <div class="container">
    <div class="row">
  <div class="col-md-6 col-sm-5">
                        <div class="logo"><a href="<?php echo base_url('main') ?>"><!-- <img src="<?php// echo base_url('images/logo.png'); ?>"> --> <span >Aileensoul</span></a></div>
                    </div>
 
           <div class="col-md-6 col-sm-7 header-left-menu">
                   <ul class="fr">
                    <li class=""><a class="login_butn"  href="<?php echo base_url('login') ?>">Login</a></li>
                      
                    </ul>

                                <!-- Friend Request End-->

                                <!-- END USER LOGIN DROPDOWN -->
                        </div>
    </div>    
    </div>
     
    </div>


</header>
   <div class="container">
        <div class="row">
          <div class="col-md-10"> <div class="reg">
               <div class="abt_a reg_j">
              <h1><span>Join Aileensoul</span></h1>
            </div>
                <fieldset class="col-md-6 par-3">
                    <label>First Name</label>
                    <input type="" name=""  placeholder="Enter First Name">
                </fieldset>
                 <fieldset class="col-md-6 pal-3">
                    <label>Last Name</label>
                    <input type="" name=""  placeholder="Enter Last Name">
                </fieldset>
                 <fieldset class="col-md-12">
                    <label>Email Address</label>
                    <input type="" name=""  placeholder="Enter Email address">
                </fieldset>
                   <fieldset class="col-md-12">
                    <label>Password</label>
                    <input type="" name=""  placeholder="Enter Password">
                </fieldset>
                <fieldset class="col-md-9 date_tm">
                    <label>Date Of Birth</label>

<select name="DOBDay">
    <option>  DD  </option>
</select>
<select name="DOBDay">
    <option>  MM  </option>
</select>
<select name="DOBDay">
    <option> YYYY </option>
</select>
                </fieldset>
                <fieldset class="col-md-3 date_tm" style="padding-left: 50px;">
                    <label>Gender</label>

<select name="DOBDay" style="    padding-right: 0px!important;">
    <option> Male </option>
    <option> FeMale </option>
   
</select>
                </fieldset>
<div class="col-md-12 terms">
    <p >By Clicking on create an account button you agree our
  <a href="#">Terms and Condition</a> and <a href="">Privacy Policy</a>
    </p>
    
</div>

     <input type="submit" value="Create an Account" name="submit" class="button3 button-block3 ">
          <div class="or"> <span>or</span></div>
          
          <button class="button3 button-block3 facebook_ac" >Sign Up With Facebook</button>
            </div>
          </div> 
</div>           
</div>
<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="padding-bottom: 1px!important; padding: 12px;">
                <div class="footer-menu pull-left">
                    <p style="color: #fff;">&copy; 2017 | by <a href="#" style="color: #fff;">Aileensoul</a></p>
                </div>
                </div>
                <div class="col-md-6">
                <div class="footer-menu pull-right">
                    <nav>
                        <ul>
                          <li> <b><a class="" href="<?php echo base_url('about_us'); ?>">About Us</a> </b></li>
                                    <li> <b><a class="" href="<?php echo base_url('contact_us'); ?>">Contact Us</a> </b></li>
                                    <li><b><a class="" href="javascript:void(0);">Blog</a> </b></li>
                                    <li> <b><a class="" href="<?php echo base_url('feedback'); ?>">Send Us Feedback</a> </b></li>
                        </ul>
                    </nav>
                </div>
                </div>
            </div>
        </div>
        </footer>
</body>