/***  freelance apply  ***/
.job-saved-box{margin-bottom:50px; width:100%; float:left;}
.job-saved-box h3 {
    background: #fff !important;
    margin: 0;
    padding: 8px 15px 8px;
    color: #1b8ab9;
	border: 1px solid #d9d9d9;
    text-align: center;
    font-size: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    line-height: 28px;
    border-top-left-radius: 4px;
    border: 1px solid #d9d9d9;
    border-top-right-radius: 3px;
}
/*** also use in job profile  ***/
.job-post-detail {border-radius: 4px; margin-bottom: 15px;}
.profile-job-details {font-size: 18px;}
.profile-job-details ul {padding: 0px;}
.profile-job-details ul li {list-style: none; position: relative; padding-left: 0px; margin: 0;}
.profile-job-details ul li a {padding-left: 0px; font-weight: bold; display: block; color: #5b5b5b;}
.profile-job-details ul li a:hover { padding-left: 0px; display: block; text-decoration: none;}
.profile-job-details ul li p {margin-bottom: 0;display: inline-block; font-size: 15px; font-weight: 600;}
.profile-job-details ul li .lction p{font-weight: normal; font-size: 13px;}
.profile-job-details .post_title { font-size: 17px; font-weight: 600; width: 60%; word-break: break-word;
    word-wrap: break-word !important; word-break: break-word !important; cursor: default; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
.last_date{ padding-left: 15px; float: left; padding-top: 4px;}
.profile-job-post-detail .profile-job-post-title .button {font-size: 15px; padding: 3px 13px !important; margin-right: 4px;
    margin-left: 4px; background-color: #ffffff; text-transform: capitalize; color: #1b8ab9; border: 1px solid #1b8ab9;
    float: right; font-weight:normal;
}
li.fr a {text-decoration: none !important;}











