/*** style css ***/
html{
	min-height:100%;
	position:relative;
	/*background:#f3f3f3;*/
	width:100%;
}
html.login-custom{background:#f3f3f3;}
html.custom-main{background:#fff;}

body{
	/*background:#f7f6f6 !important;
	padding-bottom:60px;*/
	width:100%;
	float:left;
	height:100%;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/font/roboto-light-webfont.eot');
    src: url('../fonts/font/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/font/roboto-light-webfont.woff') format('woff'),
         url('../fonts/font/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/font/roboto-medium-webfont.eot');
    src: url('../fonts/font/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/font/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/font/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/font/roboto-regular-webfont.eot');
    src: url('../fonts/font/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/font/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/font/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/***  commen css  ***/
.mail-sent li a:focus{text-decoration: none!important;}
footer ul li a:focus{text-decoration: none!important;}
.btn-right a:focus{text-decoration: none !important;background:white !important;color: #1b8ab9!important;}
.login p a:focus{text-decoration: none !important;}
.p0{padding: 0;} .p5{padding: 5px;} .p10{padding: 10px;} .p15{padding: 15px;} .p20{padding: 20px;}
.pr0{padding-right: 0;} .pr5{padding-right: 5px;} .pr10{padding-right: 10px;} .pr15{padding-right: 15px;} .pr20{padding-right: 20px;}
.pl0{padding-left: 0;} .pl5{padding-left: 5px;} .pl10{padding-left: 10px;} .pl15{padding-left: 15px;} .pl20{padding-left: 20px;}
.pt0{padding-top: 0;} .pt5{padding-top: 5px;} .pt10{padding-top: 10px;} .pt15{padding-top: 15px;} .pt20{padding-top: 20px;}
.pb0{padding-bottom: 0;} .pb5{padding-bottom: 5px;} .pb10{padding-bottom: 10px;} .pb15{padding-bottom: 15px;} .pb20{padding-bottom: 20px;}
.main-inner .btn-right .btn3:hover{text-decoration: none;}
.btn-right .btn1.btn1active {background: #fff; color: #1b8ab9;}
.fs12{font-size:12px;}

.pb0{padding-bottom: 0;} .pb5{padding-bottom: 5px;} .pb10{padding-bottom: 10px;} .pb15{padding-bottom: 15px;} 
.pb20{padding-bottom: 20px;}


.fs12{font-size:12px;}
.red{color:#ff0000;}
.ttc{text-transform:capitalize !important;}
.login-frm{width:480px !important;}
/***  buttons  ***/
.btn1{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3bb0ac), color-stop(56%, #1b8ab9), color-stop(100%, #1b8ab9)); 
	background: -webkit-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); 
	background: -o-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%);
	background: -ms-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); 
	background: linear-gradient(354deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bb0ac', endColorstr='#1b8ab9',GradientType=0 ); 
	font-size:16px;
	color:#fff;
	padding:5px 25px;
	text-align:center;
	border-radius: 4px;
	border:2px solid #1b8ab9 !important;

	
	/*-webkit-border-radius: 4px!important;
-moz-border-radius: 4px!important;
border-radius: 4px!important;*/
	/*display:inline-block;
	border:1px solid #1b8ab9;
	font-family: 'robotolight';
	box-shadow: inset 0 0 20px rgba(27, 138, 185, 0);
  outline: 1px solid;
  outline-color: rgba(27, 138, 185, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);*/
}
.btn1:hover{
	border:2px solid #1b8ab9;
	color:#fff;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1b8ab9), color-stop(56%, #3bb0ac), color-stop(100%, #3bb0ac)); 
	background: -webkit-linear-gradient(96deg, #3bb0ac 0%, #3bb0ac 44%, #1b8ab9 100%); 
	background: -o-linear-gradient(96deg, #3bb0ac 0%, #3bb0ac 44%, #1b8ab9 100%);
	background: -ms-linear-gradient(96deg, #3bb0ac 0%, #3bb0ac 44%, #1b8ab9 100%); 
	background: linear-gradient(354deg, #3bb0ac 0%, #1b8ab9 44%, #1b8ab9 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b8ab9', endColorstr='#3bb0ac',GradientType=0 ); 
	
}

.btn1:focus{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1b8ab9), color-stop(56%, #3bb0ac), color-stop(100%, #3bb0ac)); 
	background: -webkit-linear-gradient(96deg, #3bb0ac 0%, #3bb0ac 44%, #1b8ab9 100%); 
	background: -o-linear-gradient(96deg, #3bb0ac 0%, #3bb0ac 44%, #1b8ab9 100%);
	background: -ms-linear-gradient(96deg, #3bb0ac 0%, #3bb0ac 44%, #1b8ab9 100%); 
	background: linear-gradient(354deg, #3bb0ac 0%, #1b8ab9 44%, #1b8ab9 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b8ab9', endColorstr='#3bb0ac',GradientType=0 ); 
	color: white;
}
.fw{width: 100%; float: left;}
/*.btn1 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(27, 138, 185, 0);
  outline: 1px solid;
  outline-color: rgba(27, 138, 185, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} */

/*.btn1:focus {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(27, 138, 185, .5), 0 0 20px rgba(27, 138, 185, .2);
  outline-color: rgba(27, 138, 185, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}*/


.btn2{
	background:#fff;
	font-size:16px;
	color:#1b8ab9;
	padding:8px 25px;
	text-align:center;
	border-radius:4px;
	display:inline-block;
	border:1px solid #fff;
	font-family: 'robotolight';
	line-height:1;
}
.btn2:hover{
	border:1px solid #fff;
	background:transparent;
	color:#fff;
	text-decoration:none;
}
.btn3{
	font-size:16px;
	color:#fff;
	padding:8px 25px;
	text-align:center;
	border-radius:4px;
	display:inline-block;
	border:1px solid #fff;
	font-family: 'robotolight';
	line-height:1;
}
.btn3:hover {
    background: #fff;
    color: #1b83b9;
}
.clr-c a{color:#999;}
.main-login{
	/*background:url('../img/main-bg.jpg') no-repeat; 
	background-size:100%;*/
	/*padding-bottom:60px;*/
	background-color:#fff;

}
.login-frm .login form{padding: 16px 60px 15px;}
/***  header  ***/
header{
    z-index: 10;
        position: fixed;
    top: 0;
    right: 0;
    left: 0;
background: -moz-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3bb0ac), color-stop(56%, #1b8ab9), color-stop(100%, #1b8ab9)); /* safari4+,chrome */
background: -webkit-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* opera 11.10+ */
background: -ms-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* ie10+ */
background: linear-gradient(354deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bb0ac', endColorstr='#1b8ab9',GradientType=0 ); /* ie6-9 */
	padding:15px 0;
}
header .logo a{
	color:#fff;
}
header .logo a:focus, header .logo a:hover {
	text-decoration:none;
}
header h2{
	margin:0; 

}
.header-login .input{		
	width:28%;		
	float:left;		
	margin-right:20px;		
}
.header-login input{
	background:transparent;
	border:none;
	border-bottom:1px solid #fff;
	border-radius:0px;
	box-shadow:none;
	font-size:14px;
	color:#fff;
	height:32px;
	
}
.header-login input:focus{
	box-shadow:none;
}
.header-login .btn1{
	font-size:15px;
	padding-top:8px;
	padding-bottom:8px;
	line-height:1;
	background:none;
	color:#fff;
	width: 90px;
	border:1px solid #fff !important;
}
.header-login .btn1:hover{
	background:#fff;
	color:#1b8ab9;
	border:1px solid #fff;
}
.header-login .btn1:focus{
	background:#fff;
	color:#1b8ab9;
	border:1px solid #fff;
}
.form-text a:focus{text-decoration: underline;
color: #337ab7;}
.header-login input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ddd;
}
.header-login input::-moz-placeholder { /* Firefox 19+ */
  color: #ddd;
}
.header-login input:-ms-input-placeholder { /* IE 10+ */
  color: #ddd;
}
.header-login input:-moz-placeholder { /* Firefox 18- */
  color: #ddd;
}
.header-login .f-pass{
	color:#fff;
	padding-left:10px;
} 
.header-login .f-pass:hover{
	text-decoration:underline;
}
a:hover{
	/*text-decoration:none;*/
}
/*.pt-100{padding-top: 100px;}*/
/***  middle part  ***/
/*.middle-main{height:90vh;}*/

.main-login .middle-main{
	padding:100px 0;
	background:url('../img/bg.png') no-repeat;
	background-size:100%;

}
.main-login .middle-main .container{height:100%; position:relative;}
.top-middle{
	padding:45px 0 10px 50px;
	min-height:190px;
}
.top-middle h3{
	font-size:30px; 
	color:#505050; 
	line-height:1.5;
	margin:0;
}
.top-middle .output {
	display:none;
}
.top-middle .active:after {
	content: '_';
}

/***  main page slider  ***/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
} 
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
} 
.carousel-fade .carousel-caption {
	text-shadow: none;
	font-size:17px;
	position:inherit;
	left:0;
}
.carousel-fade .carousel-caption h3 {
	font-size: 34px;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	margin-bottom:0;
	color:#1b8ab9;
	background: -webkit-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.carousel-fade .carousel-caption h1{/*	font-size: 34px;*/
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	margin-bottom:0;
	color:#1b8ab9;
	background: -webkit-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
.carousel-fade .carousel-caption p{
	font-size:20px;
	color:#2b2c2c;
}
.carousel-fade .carousel-caption img{
	float:left;
}
.carousel-fade .carousel-caption .carousel-text{
	float:left;
	padding-left: 30px;
    text-align: left;
	padding-top:20px;
}
/***  end slider  ***/
.bottom-middle{
	padding:30px 0 50px 50px;
}
.footer{background-color: #fff }

/***  login form css  ***/
.login{
	background:#fff;
	width:80%;
	margin:0 auto;
	border:1px solid #c7c7c7;
	border-radius:5px;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(217,217,217,1);
	-moz-box-shadow: 0px 0px 10px -1px rgba(217,217,217,1);
	box-shadow: 0px 0px 10px -1px rgba(217,217,217,1);
} 
    .inner-form .login {
    background: #fff !important;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #c7c7c7;
       /* border-top-width: 1px;
        border-radius:5px;
        border-top-style: solid;
        border-top-color: rgb(199, 199, 199);*/
    
}
.login h4{
    color:#1b8ab9;
	background: -webkit-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
	padding:15px; 
	text-align:center;
	margin:0;
	color:#1b8ab9;
	border-bottom:1px solid #c7c7c7;
	font-size:28px;
	font-family: 'robotoregular';
}
.login form{
	padding:16px 30px 15px;
}
.login .form-group input, .login .form-group select, .login .form-group textarea {
	border:none;
	border-bottom:1px solid #d9d9d9;
	border-radius:0px;
	box-shadow:none;
	font-size:16px !important;
	color:#848484;
	height:35px;
    padding-left: 6px;
}
.login .form-group select{
	width:65px;
	margin-right:15px;
	-webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   position:relative;
   background:url('../img/down-arrow.png') no-repeat !important;
   background-position:right !important;   
  
}
.login .form-group select:focus{
	width:65px;
	margin-right:15px;
	-webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    position:relative;
    background:url('../img/down-arrow-hover.png') no-repeat;
    background-position:right;  
}
.login .form-group select.year{
	width:70px;
}
.login .form-group select.gender{
	width:100px;
}
.form-text{
	font-size:12px !important;
	color:#3b3a3a;
	padding-top:10px;
	padding-bottom:0px !important;
}
.form-text a{
	color:#b5b5b5;
}
.login .btn1{
	display:inline-block;
	width:100%;
}
.fancybox-slide > *{font-size: 24px; padding: 45px!important;}


/***  footer  ***/
footer{
	padding:0 0 20px;
	color:#353535;
	position:absolute;
	bottom:0;
	height:60px;
	width:100%;
        background-color: #f3f3f3;
	
}
footer > .container {
	border-top:1px solid #dbdada;
	/*padding-left:0;
	padding-right:0;*/
}
footer ul{
	float:right;
	padding-left:0;
	margin-bottom:0;
}
footer ul li{
	float:left;
	list-style-type:none;
}
footer ul li a{
	color:#353535;
	padding:5px 15px;
}
footer ul li:last-child a{padding-right:0;}
footer ul li a:hover{
	color:#353535;
	text-decoration:underline;
}
#selgen:focus{   border-bottom: 1px solid #1b8ab9 !important;
    color: #1b8ab9!important;}
 #selmonth:focus{   border-bottom: 1px solid #1b8ab9 !important;
    color: #1b8ab9!important;}
 #selyear:focus{   border-bottom: 1px solid #1b8ab9 !important;
    color: #1b8ab9!important;}
 #selday:focus{   border-bottom: 1px solid #1b8ab9 !important;
    color: #1b8ab9!important;}
/*onclick*/
 .form-group textarea:focus {
   border-bottom: 1px solid #1b8ab9 !important;
    color: #1b8ab9!important;
 }
 /* label focus color */
 .form-group textarea[type=text]:focus + label {
     color: #1b8ab9!important;
}
/* label underline focus color */
 .form-group textarea[type=text]:focus {
     border-bottom: 1px solid #1b8ab9;
      color: #1b8ab9!important;
   
   }
 .form-group input:focus {
   border-bottom: 1px solid #1b8ab9 !important;
    color: #1b8ab9!important;
 }
  .form-group input[type=password]:focus {
   border-bottom: 1px solid #1b8ab9 !important;
    color: #1b8ab9!important;
 }
 /*
 .form-group input[type="text"]:focus::-webkit-input-placeholder { 
  color: pink !important;
}
.form-group input[type="text"]:focus::-moz-placeholder { 
  color: pink !important;
}
.form-group input[type="text"]:focus:-ms-input-placeholder { 
  color: pink !important;
}
.form-group input[type="text"]:focus:-moz-placeholder { 
  color: pink !important;
}
 */
select
{
    color: #ccc;
}
option
{
    color: #848484;
}
option:first-child
{
    color: #ccc;
}

 /* label focus color */
 .form-group input[type=text]:focus + label {
     color: #1b8ab9!important;
}
 .form-group input[type=password]:focus + label {
     color: #1b8ab9!important;
}
.form-group select:focus + label {
     color: #1b8ab9!important;
}

/* label underline focus color */
 .form-group input[type=text]:focus {
     border-bottom: 1px solid #1b8ab9;
      color: #1b8ab9!important;
   
   }
  .form-group input::-webkit-input-placeholder {
    color: #999;
}
textarea:focus::-webkit-input-placeholder
{
  color:    #1b8ab9;
}

 .form-group input:focus::-webkit-input-placeholder {
       color: #1b8ab9;
}
/* Firefox < 19 */

 .form-group input:focus:-moz-placeholder {
      color: #1b8ab9;
}
/* Firefox > 19 */

 .form-group input:focus::-moz-placeholder {
       color: #1b8ab9;
}

/* Internet Explorer 10 */

 .form-group input:focus:-ms-textarea-placeholder {
    color: #1b8ab9;
}
/*second*/

 .form-group textarea:focus::-webkit-placeholder {
       color: #1b8ab9 ;
}

 .form-group textarea:focus::-webkit-textarea-placeholder {
       color: #1b8ab9 ;
}
/* Firefox < 19 */

 .form-group textarea:focus:-moz-placeholder {
      color: #1b8ab9;
}
/* Firefox > 19 */

 .form-group textarea:focus::-moz-placeholder {
       color: #1b8ab9;
}

/* Internet Explorer 10 */

 .form-group textarea:focus:-ms-textarea-placeholder {
    color: #1b8ab9;
}

.pt-20{padding-top: 20px!important;}
/***  inner page  ***/
.main-inner{
	background:#f3f3f3;
	padding-bottom:60px;
	width:100%;
	float:left;

}
.main-inner .middle-main{
	padding:62px 0 0;
	width:100%;
	float:left;

}
.main-inner .middle-main .container{height:100%;}
.pt-a{padding-top: 65px;}
.main-inner .btn-right .btn3{
	margin-left:10px;
}
.titlea{
	text-align:center;
}
.titlea h1{
    font-family: 'robotoregular';
	display:inline-block; 
	text-align:center; 
	font-size:38px; 
	color:#1b8ab9;
	background: -webkit-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
	position:relative;
	margin-bottom:15px;
	text-transform:capitalize;
}

.title{
	text-align:center;
    margin: 0 auto;
    border-bottom: 1px solid #c7c7c7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.title h1{
    font-family: 'robotoregular';
	display:inline-block; 
	text-align:center; 
	font-size:38px; 
	color:#1b8ab9;
	background: -webkit-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
	position:relative;
	margin-bottom:20px;
	text-transform:capitalize;
}
/*.title h1:after{
	position:absolute;
	height:1px;
	width:140px;
	bottom:-25px;
	content:"";
	background:#787878;
	margin:0 auto;
	left:0;
	right:0;
}*/
.inner-form{
	width:560px;
	margin:0 auto;    
}
.pt-50{padding-top: 95px;}
.inner-form .login{
	background:none;
}
.inner-form .login input, .inner-form .login textarea{
	background:transparent;
}
.inner-form .login textarea{
	max-height: 90px;
    resize: none;
    min-height: 90px;
}
.about-content{
	width:92%;
	margin:0 auto;
	text-align:center;
	font-size:17px;
	color:#636363;
	line-height:1.5;
	margin-bottom:80px;
	position:relative;
	padding-top:30px;
}
.about-content:before{
	position:absolute;
	height:1px;
	width:140px;
	top:0px;
	content:"";
	background:#787878;
	margin:0 auto;
	left:0;
	right:0;
}
.about-content:after{
	position:absolute;
	height:1px;
	width:140px;
	bottom:-40px;
	content:"";
	background:#787878;
	margin:0 auto;
	left:0;
	right:0;
}
.mail-sent{
	padding-left:0;
	display:inline-block;
	width:80%;
}
.mail-sent li{
	float:left;
	padding:10px 15px;
	border-right:1px solid #787878;
	list-style-type:none;
	width:33.33%;
}
.mail-sent li:last-child{
	border-right:0;
}
.mail-sent li a{
	font-size:20px;
	color:#000;
}
.mail-sent li a:hover{
	color:#1b8ab9;
}
.inner-form .login{
	width:100%;
}
.inner-form .login p{margin-bottom:9px;}
h3.text-effect span {
  display: inline-block;
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
}
/***  required placeholder  ***/
.required::-webkit-input-placeholder:after {
    content:'*';
    color: red;
}
.required:-moz-placeholder:after {
    /* Firefox 18- */
    content:'*';
    color: red;
}
.required::-moz-placeholder:after {
    /* Firefox 19+ */
    content:'*';
    color: red;
}
.required:-ms-input-placeholder:after {
    content:'*';
    color: red;
}

/***  main page  ***/
.main-header{
	background: #1b8ab9 none repeat scroll 0 0;
	padding:15px 0;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:9;
}
.middle-section{
	padding-top:35px;
	padding-bottom:60px;
	
}
.banner-box{
	position:relative;
	/*margin-top:15px;*/

}
.banner-box .banner-img{
	max-height:350px;
}
.banner-box img.main-cover{
	width:100%;
	height:350px;
}
/*.banner-box .left-profile{
	position:absolute;
	width:290px;
	height:100%;
	background:rgba(255, 255, 255, 0.8);
	top:0;
	left:0;
	padding:35px 25px;
	text-align:center;
}
.banner-box .left-profile .profile-photo{
	width:150px;
	height:150px;
	margin:0 auto;
	border:4px solid #1b8ab9;
	margin:0 auto;
	-webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -khtml-border-radius: 100%;
	background:#1b8ab9;
}*/
.profile-table{
	position: relative;
    top: 50%;
    transform: translate(0px, -50%);
}
/*.banner-box .left-profile .profile-photo img.main-pic{
	width:142px;
	height:142px;
	border-radius: 100%;
}*/
.d_o_b{
	color: #848484;
    font-size: 10px;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 0;
    padding-left: 5px;
    width: 100%;
}
.login .form-group select{padding-left: 3px;}
.upload-profile{
	background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    bottom: 4px;
    color: #fff;
    display: none;
    height: 140px;
    left: 4px;
    padding: 30px 15px;
    position: absolute;
    text-align: center;
    width: 140px;
}

.upload-profile img{display:block; margin:0 auto; margin-bottom:10px;}
.profile-photo:hover .upload-profile{
	display:block;
	color:#fff;
}
.upload-img-new .upload-text{
	color: #fff;
    display: block;
    padding-top: 10px;
}
.cameraButton .fa.fa-camera{
	width:30px;
	height:26px;
	background:url('../img/cam.png') no-repeat;
	border:none;
	padding:5px;
	background-size:100%;
}
.cameraButton .fa-camera::before{
	display:none;
}
.upload-img label.cameraButton{
	height: 42px;
    line-height: 1;
    padding: 3px 4px;
    width: 50px;
	background:rgba(0,0,0,0.8);
	border-radius:4px;
	border:none;
}
.banner-box .upload-camera{
	position:absolute;
	/*width:50px;
	height:45px;*/
	right:25px;
	bottom:25px;
	background:rgba(0,0,0, 0.6);
	border-radius:4px;
	
	/*padding:5px;*/
}
.banner-box .upload-camera .cameraButton{
	background:none;
	padding:8px 10px 3px;
	border:none;
}

.banner-box .upload-camera a {
    display: inline-block;
    padding: 5px;
}
.upload-camera label{margin:0 !important;}
.upload-camera .cameraButton .tooltiptext{margin-top:7px;}
.banner{padding-top:14px;}
.all-profile-custom{padding-top:50px;}
.all-profile{
	width:90%;
	margin:0 auto;
	text-align:center;
	position:relative;
}
.all-profile{
	padding:35px 0;
}
.box-profile{
	width:265px;
	height:265px;
	border-radius:100%;
	display:inline-block;
	margin:0 35px 20px;
	position:relative;
	border:1px solid #1b8ab9;
	background:#fff;
}
.profile-box-1{
	width:265px;
	height:265px;
	border-radius:100%;
	display:inline-block;
	text-align:center;
	padding:40px 10px 30px;
	position:relative;
	
}
.box-profile.deactive-profile{
	border:1px solid #ddd;
}
.all-profile a.active-profile{
	position:relative; 
	/*display:inline-block; */
	 
	width:265px;
	height:265px;
	border-radius:100%;
}
.profile-box-1.box-hover{
	background:#2a97c5;
	display:none;
	position:absolute;
	left:0;
	top:0;
}
.all-profile .box-profile.deactive-profile:hover .profile-box-1.box-hover{
	display:block;
	
}
.profile-box-1 .all-img{
	width:100%;
	float:left;
}
.profile-box-1 .all-img img{
	width:100px;
}
.profile-box-1 .all-discription{
	width:100%;
	float:left;
	padding:0 25px;
}
.profile-box-1 .all-discription h4{
	font-size:24px;
	margin-bottom:0;
	margin-top:10px;
}
.profile-box-1 .all-discription p{
	font-size:16px;
	color:#787878;
	/*padding:0 30px;*/
}
.hover-content p{
	font-size:24px;
	color:#fff;
	padding:30px 0;
	margin:0;
}
.hover-content p a{
	color:#fff;
}
.profile-box-1.box-hover:before{
	width:96px;
	height:1px;
	background:#fff;
	position:absolute;
	top:50%;
	content:"";
	left:50%;
	margin-left:-48px;
}
.profile-box-1.job:after, .profile-box-1.rec:after, .profile-box-1.bus:after{
	position:absolute;
	right:-100%;
	width:100%;
	top:50%;
	height:12px;
	background:#e0e0e0;
	content:"";
}
.profile-box-1.job:before{
	position:absolute;
	bottom:-87%;
	width:12px;
	left:96%;
	height:100%;
	background:#e0e0e0;
	content:"";
	transform: rotate(-30deg);
	-ms-transform: rotate(-30deg); /* IE 9 */
	-webkit-transform: rotate(-30deg);

}
.profile-box-1.bus:before, .profile-box-1.art:before{
	position:absolute;
	top:-17%;
	width:12px;
	left:79%;
	height:67px;
	background:#e0e0e0;
	content:"";
	transform: rotate(30deg);
	-ms-transform: rotate(30deg); /* IE 9 */
	-webkit-transform: rotate(30deg);

}
.profile-box-1.art:after{
	position:absolute;
	top:-18%;
	width:12px;
	left:17%;
	height:68px;
	background:#e0e0e0;
	content:"";
	transform: rotate(-30deg);
	-ms-transform: rotate(-30deg); /* IE 9 */
	-webkit-transform: rotate(-30deg);

}


.form-group{position: relative;}
.form-group label.error{position: absolute; left: 0;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
transition: background-color 60000000000000s ease-in-out 0s;
}
.header-login input:-webkit-autofill,
.header-login input:-webkit-autofill:hover,
.header-login input:-webkit-autofill:focus,
.header-login input:-webkit-autofill:active {
transition: background-color 60000000000000s ease-in-out 0s;
-webkit-text-fill-color:#fff !important;
}
.carousel.carousel-fade .item {
 -webkit-transition: opacity 3s ease-in-out;
 -moz-transition: opacity 3s ease-in-out;
 -ms-transition: opacity 3s ease-in-out;
 -o-transition: opacity 3s ease-in-out;
 transition: opacity 3s ease-in-out;
 opacity:0;
}

.carousel.carousel-fade .active.item {
 
  -webkit-transition: opacity 3s ease-in-out;
 -moz-transition: opacity 3s ease-in-out;
 -ms-transition: opacity 3s ease-in-out;
 -o-transition: opacity 3s ease-in-out;
 transition: opacity 3s ease-in-out;
 opacity:1;
}
.text-effect p{margin-bottom: 0px;}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
	
 left: 0;
 z-index: 2;
 opacity: 0;
 filter: alpha(opacity=0);
}
/***  alert message  ***/
.alert-danger.main{
	left: 35%;
    position: absolute;
    width: 30%;
	text-align:center;
}

section { overflow: hidden; }
.md-2{
	width: 450px!important;
	margin: 0 auto; 
	top: 50%; position: absolute; left: 50%;
		-ms-transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);}
.modal{background-color: rgba(0, 0, 0, 0.5);}
.sign_in{width:100%; text-align:center;}
.sign_in p a:hover{text-decoration:underline;}
.login p a:hover{text-decoration:underline; color:#337ab7;}
#forgot_password .modal-header label{color: #1b8ab9 !important; margin-bottom: 0px;}
#forgot_password .modal-body label{color: #5b5b5b !important;}
#forgot_password .submit_btn{text-align:center;}


.modal-header .close{
	position: absolute;
    right: -13px;
    top: -10px;
    background: #1b8ab9;
    opacity: 1;
    color: white;
    padding: 4px 5px;
    border-radius: 100%;
	width:30px;
	height:30px;

}
.modal-header .close:hover{background:#156f95;color: #fff;}
/*** new hom page ***/
.ml20{margin-left:20px;}
.mr20{margin-right:20px;}
.btn-1{padding:10px 35px; border:1px solid #000000; color:#000; font-size:18px; display:inline-block;}
.btn-1:hover{border:1px solid #1b8ab9; color:#fff !important; background:#1b8ab9;}
.btn-2{
	background:#1b8ab9;
	padding:10px 35px;
	color:#fff;
	border:1px solid #1b8ab9;
	border-radius:4px;
	display:inline-block;
}
.btn-2:hover{background:none;}
.btn-4{
	font-size: 18px;
	background: -moz-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3bb0ac), color-stop(56%, #1b8ab9), color-stop(100%, #1b8ab9)); /* safari4+,chrome */
background: -webkit-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* opera 11.10+ */
background: -ms-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* ie10+ */
background: linear-gradient(354deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bb0ac', endColorstr='#1b8ab9',GradientType=0 ); /* ie6-9 */
	padding:10px 35px;
	color:#fff !important;
	border:1px solid #1b8ab9;
	display:inline-block;
	transition:none;
	border-radius:4px;
}
.btn-4:hover{text-decoration: none; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1b8ab9), color-stop(56%, #3bb0ac), color-stop(100%, #3bb0ac)); 
 background: -webkit-linear-gradient(96deg, #3bb0ac 0%, #3bb0ac 44%, #1b8ab9 100%); 
 background: -o-linear-gradient(96deg, #3bb0ac 0%, #3bb0ac 44%, #1b8ab9 100%);
 background: -ms-linear-gradient(96deg, #3bb0ac 0%, #3bb0ac 44%, #1b8ab9 100%); 
 background: linear-gradient(354deg, #3bb0ac 0%, #1b8ab9 44%, #1b8ab9 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b8ab9', endColorstr='#3bb0ac',GradientType=0 ); 
}


.right-profile{/*width:56px; height:276px; position:fixed; right:0; top:100px; z-index:9;*/}
.right-profile ul{padding-left:0;}
.right-profile ul li{list-style-type:none; padding:0; margin:0;}
.right-profile .right-menu-box{ display:block;  background-color:#fff; }
.right-profile .sticky-right li:last-child .right-menu-box{border-bottom:1px solid #c2dce7;}


.right-profile .right-menu-box{height:56px; display:block; border:1px solid #c2dce7;  background:#fff url('../img/download.png') no-repeat; overflow: hidden; text-align: left; border-bottom:0;}
.right-profile .right-menu-box:hover{background:#1b8ab9 url('../img/download.png') no-repeat;     border: 1px solid #1b8ab9;}
.right-profile .job-r{background-position: -0px -0px;}
.right-profile .job-r:hover{background-position: 0 -54px;}
.right-profile .rec-r{background-position: 0 -108px;}
.right-profile .rec-r:hover{background-position: 0 -162px;}
.right-profile .free-r{background-position: 0 -216px;}
.right-profile .free-r:hover{background-position: 0 -270px;}
.right-profile .bus-r{background-position: 0 -324px;}
.right-profile .bus-r:hover{background-position: 0 -378px;}
.right-profile .art-r{background-position: 0 -432px;}
.right-profile .art-r:hover{background-position: 0 -486px;}


.custom-box{padding:50px 0; }
.custom-box.even-custom{border-bottom:none;}
.custom-box.even{ border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; }
.custom-box.even:hover{ border-top: 1px solid transparent; border-bottom: 1px solid transparent; }
.custom-box:hover{background:#fff; box-shadow:0 15px 25px -7px rgba(0,0,0,0.09), 0 -12px 10px -10px rgba(0,0,0,0.04); border-bottom:none;}
.custom-box:hover .left-box img{-webkit-box-shadow: 2px 2px 17px 0.8px rgba(217,217,217,1);
-moz-box-shadow: 2px 2px 17px 0.8px rgba(217,217,217,1);
box-shadow: 2px 2px 17px 0.8px rgba(217,217,217,1);}
.custom-box .custom-width{max-width:960px; margin:0 auto; height:245px;}
.custom-box.odd .custom-width{border-left:8px solid #1b8ab9;}
.custom-box.even .custom-width{border-right:8px solid #1b8ab9;}
.custom-box.even .custom-width .right-box{text-align:right;}
.custom-box.even .custom-width .left-box{text-align:right;}

.custom-box .custom-width .right-box h1{position:relative; padding-top:25px;}
.custom-box .custom-width .right-box h1 a{font-size:65px; position:relative; font-family: 'arial';}
.custom-box .custom-width .right-box h1 a:after{width:140px; height:1px; background:#1b8ab9; position:absolute; left:0;bottom:0; content:"";}
.custom-box.even .custom-width .right-box h1 a:after{right:0; left:inherit;}
.custom-box .custom-width .right-box p{font-size:20px; padding-top:20px; font-family:'arial';}
.custom-box .custom-width .right-box .btns{padding-top:70px;}
.custom-box .custom-width .right-box .btns a:hover{color:#1b83b9; text-decoration: underline;}
.custom-box .custom-width .right-box .btns a.btn-4:hover{text-decoration: none; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1b8ab9), color-stop(56%, #3bb0ac), color-stop(100%, #3bb0ac)); 
	background: -webkit-linear-gradient(96deg, #3bb0ac 0%, #3bb0ac 44%, #1b8ab9 100%); 
	background: -o-linear-gradient(96deg, #3bb0ac 0%, #3bb0ac 44%, #1b8ab9 100%);
	background: -ms-linear-gradient(96deg, #3bb0ac 0%, #3bb0ac 44%, #1b8ab9 100%); 
	background: linear-gradient(354deg, #3bb0ac 0%, #1b8ab9 44%, #1b8ab9 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b8ab9', endColorstr='#3bb0ac',GradientType=0 ); 
}
.custom-box .custom-width .right-box .btns a.btn-1:hover{color:#1b83b9; text-decoration: none;}
.custom-box .custom-width .right-box a{font-size:18px; color:#000; transition:none;}
.custom-box.tabindex{padding-top:60px;}

.how-it-popup .modal-header h1{text-align:center; font-size:40px; font-weight:bold; font-family: 'times_new_romanbold';}
.how-it-popup .modal-header a{color:#bababa; font-size:18px; margin-top:-10px;}
.how-it-popup .modal-header a:hover{color:#777;}
.how-it-popup .modal-body{padding-top:0; padding-bottom:0; width:100%; float:left;}
.how-it-popup .modal-body h3{text-align:center; color:#fff; display:inline-block; margin:0 0 20px; font-size:28px;}
.how-it-popup .pro_img{
	background: -moz-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3bb0ac), color-stop(56%, #1b8ab9), color-stop(100%, #1b8ab9)); /* safari4+,chrome */
	background: -webkit-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* ie10+ */
	background: linear-gradient(354deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bb0ac', endColorstr='#1b8ab9',GradientType=0 ); /* ie6-9 */
	padding:25px 0;
	text-align:center;
}
.how-it-popup .modal-footer{text-align:center; width:100%; float:left;}
.por_content{padding:0 !important;}
.por_content ul{padding-left:0;  float:left; width:100%; margin:0;}
.por_content ul li{padding:14px 10px; list-style-type:none; display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center; border-bottom:1px solid #f3f3f3; margin:0; width:100%; float:left;}
.por_content ul li .sub-li li{display:inherit;}
.por_content ul li:last-child{border-bottom:0;}
.por_content ul li img{margin-right:5px; float:left; width:55px; height:55px;}
.por_content ul li .pro-text{font-size:15px; font-weight:bold; width:220px; float:left;}
.por_content ul li .pro-text .count{width:20px; float:left;}
.por_content ul li .pro-text .text{float:left; width:90%;}
.sub-text{padding:0 15px; font-size:12px; color:#000; width:100%; float:left;}
.sub-text p{padding-left:15px; position:relative;}
.sub-text p:before{width:8px; height:8px; background:#1b8ab9; position:absolute; position:relative; content:""; left:-15px; top:15px; border-radius:100%; display:block;}

.modal .forgot_password .form-control.error{border:1px solid red;}

.profile-detail h2{margin-top:20px;}
.cover .modal{padding-top:0px;}
.cover .modal .modal-content{padding:0;}


/***  style for sticky right  ***/
.sticky-container{
		/*background-color: #333;*/
		padding: 0px;
		margin: 0px;
		position: fixed;
		right: -148px;
		top:50%;
		width: 200px;
		z-index:9;
		margin-top:-141px;
	}
 .main-inner .pd-low{padding-top: 100px;}
	.sticky-right li{
		list-style-type: none;
		background-color: #333;
		color: #efefef;
		height: 56px;
		padding: 0px;
		margin: 0px 0px 1px 0px;
		-webkit-transition:all 0.25s ease-in-out;
		-moz-transition:all 0.25s ease-in-out;
		-o-transition:all 0.25s ease-in-out;
		transition:all 0.25s ease-in-out;
		cursor: pointer;
		
	}

	.sticky-right li:hover{
		margin-left: -115px;
		/*-webkit-transform: translateX(-115px);
		-moz-transform: translateX(-115px);
		-o-transform: translateX(-115px);
		-ms-transform: translateX(-115px);
		transform:translateX(-115px);*/
		/*background-color: #8e44ad;*/
		
	}


	.sticky-right li span{
		padding-left: 56px;
		margin: 0px;
		color:#fff;
		line-height: 56px;

	}
	
#fre-popup .card ul.nav-tabs li{width:50%; padding:0; border-right:1px solid #ddd;}
#fre-popup .card ul.nav-tabs li a{font-size:18px; border:none; text-align:center; width:100%; padding:5px 15px; color:#777;}
#fre-popup .card ul.nav-tabs li a:hover{background:none; color:#1b8ab9;}
#fre-popup .card ul.nav-tabs li.active a{color:#1b8ab9;}

/*.header-login label.error{position:absolute;}*/
/*.main-inner{min-height: 100%; position:relative}*/
.cover .fancybox-slide .modal-dialog{margin:0; border-radius: 5px;}


#selgen{color:#848484;}
#selgen:focus{border: none;border-bottom: 1px solid #1b8ab9;}
input.form-control{box-shadow:none !important; -webkit-appearance: none;}


.mid-trns{width:100%; float:left;}


/*** all page center  ***/
/*body{height:100%;}
.main-login{height:100%;}
.middle-main{height:100%;}
.main-inner{height:100%;}
.middle-main .container{height:100%; position:relative;}
.main-inner .middle-main .container{height:100%; position:relative;}
/***  ***/
#login_form{/*text-align:right;*/}
.main-login header{padding:18px 0;}
.form-pd{padding:40px 0;}
.left-profile{padding-bottom:10px; -webkit-box-shadow: 0 10px 10px -10px #d9d9d9;
   -moz-box-shadow: 0 10px 10px -10px #d9d9d9;
        box-shadow: 0 10px 10px -10px #d9d9d9; margin-bottom:10px; background:#fff;
        position: relative;;}
.left-profile .profile-photo{
	background: #fff none repeat scroll 0 0;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    height: 151px;
    margin: 0px auto 0;
    padding: 4px;
    width: 151px;
    position: absolute;
    left: 0;
    right: 0;
    top: -110px;
}
.left-profile .profile-photo img.main-pic{
	width:141px;
	height:141px;
	border-radius:4px;
}
.left-profile .profile-detail{text-align:center; padding-top: 40px;}
.left-profile .profile-detail h2{margin-top:5px; font-size:32px; font-family:'arial';}

.profile-photo.no-image-upload .upload-profile{display:block; background:#333;}
.profile-photo.no-image-upload .upload-profile img{width:40px;}
.profile-photo.no-image-upload .upload-profile:before{}



/* otp */


.fl{float: left;}
.fr{float: right;}
.otp_lform{width: 680px!important; 
    position: absolute;
    left: 50%;
    top: 50%;
    /* margin: 0 auto; */
    transform: translate(-50%, -50%);
}
.otp_lform .login{box-shadow: none;}

.main_otp_box_head h3{font-size: 23px; margin: 0; padding: 14px;}
.main_otp_box_head {border-bottom: 1px solid #d9d9d9;}
.main_otp_box_middle{padding: 14px; border-bottom: 1px solid #d9d9d9; line-height: 22px;}
.otp_bottom{padding: 10px 14px;}
.otp_bottom_link{vertical-align: middle; padding-top: 6px;}
.main_otp_box_middle_submit{ padding: 14px 0px }
.main_otp_box_middle_submit input[type="password"]{background-color: white;
   
    border: none;
 border-bottom: 1px solid #d9d9d9;}


.main_otp_box_middle_submit input[type="text"]{background-color: white;
   
    border: none;
 border-bottom: 1px solid #d9d9d9;}
 .main_otp_box_middle_submit input[type="text"]:focus{border-bottom: 1px solid #1b8ab9;}
.otp_bottom_submit input{
	background: -moz-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3bb0ac), color-stop(56%, #1b8ab9), color-stop(100%, #1b8ab9)); /* safari4+,chrome */
background: -webkit-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* opera 11.10+ */
background: -ms-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* ie10+ */
background: linear-gradient(354deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%) !important; /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bb0ac', endColorstr='#1b8ab9',GradientType=0 ); /* ie6-9 */
    border: none;
       padding: 4px 10px;
    vertical-align: middle;
    color: white;
    border-radius: 3px;
    font-size: 16px;
    width: 87px;
    letter-spacing: 0.5px;
    font-family: arial;
}

.main_otp_box_middle_submit label{
	display: block;
    color: #1b8ab9;
    padding-bottom: 3px;
}
.main_otp_box_middle_submit input:focus{outline: none;}
.main_otp_box_middle_submit a#showhide{
	padding: 4px;
    border: 1px solid #d9d9d9;
	color: #7b7c7c;
    border-radius: 3px;
    background: -webkit-linear-gradient(bottom, #e9e9e9 5%, #f9f9f9 100%);
    background: -o-linear-gradient(bottom, #e9e9e9 5%, #f9f9f9 100%);
    background: -ms-linear-gradient(bottom, #e9e9e9 5%, #f9f9f9 100%);
    background: linear-gradient(to top, #e9e9e9 5%, #f9f9f9 100%);
    -o-box-shadow: inset 0px 0px 50px 0px #ABABAB, 5px 5px 5px 1px #242424;
    border: 1px solid #dcdcdc!important;}
.main_otp_box_middle_submit a#showhide:hover{text-decoration-line: none;}
.otp_bottom_submit input.cancel_password{
	border: 1px solid #d9d9d9;
	color: #7b7c7c;
    border-radius: 3px;
    background: -webkit-linear-gradient(bottom, #e9e9e9 5%, #f9f9f9 100%);
    background: -o-linear-gradient(bottom, #e9e9e9 5%, #f9f9f9 100%);
    background: -ms-linear-gradient(bottom, #e9e9e9 5%, #f9f9f9 100%);
    background: linear-gradient(to top, #e9e9e9 5%, #f9f9f9 100%)!important;
    -o-box-shadow: inset 0px 0px 50px 0px #ABABAB, 5px 5px 5px 1px #242424;
    border: 1px solid #dcdcdc!important;
}

.main_otp_box_middle_submit input[type="password"] , .main_otp_box_middle_submit input[type="text"]{width: 30%;}
.main_otp_box_middle_submit input[type="password"]::placeholder , .main_otp_box_middle_submit input[type="text"]::placeholder {
  color:#d9d9d9;
}
.main_otp_box_middle_submit input[type="password"]:focus , .main_otp_box_middle_submit input[type="text"]:focus {
  border-bottom: 1px solid #1b8ab9;
  color: #1b8ab9;
}
.main_otp_box_middle_submit input[type="password"]:focus::placeholder , .main_otp_box_middle_submit input[type="text"]:focus::placeholder {
  color:#1b8ab9;
}

.cls-ve:hover{color: black;}
.cls-ve{color: #ccc; cursor: pointer;}
.profile-text1 .as-p{font-size: 13px;
padding-left: 0px;
letter-spacing: 0.3px;
cursor: default;
}
.profile-text1 .chng_email{text-decoration: underline; }
.profile-text1 .vert_email{color: white;
    cursor: pointer;
background: #1b8ab9;
padding: 5px;
border-radius: 3px;
font-size: 14px;
margin: 10px;}
.email-verify{width: 100%; padding-left: 3%;}
.vs-o{ padding: 10px;}

/***  validation  ***/
.error{color: #ff0000 !important; font-weight:normal;}
label.error{font-size: 11px; color: #ff0000 !important; font-weight:normal;}
#forgot_password .modal-body label.error{color: #ff0000 !important;}
.login .form-group select{top: 0;}
.dob{position: relative;}
.form-control.error{ border-bottom: 1px solid red !important;}
.dob .error{
	position: absolute;
	left: 0;
	bottom: -20px;
	
}
.gender-custom{position: relative;}
.gender-custom .error{
	position: absolute;
	left: 0;
	bottom: -20px;
	
}

#selgen.error{color: red!important;}
#selday.error{ border-bottom: 1px solid red !important;}
#selmonth.error{ border-bottom: 1px solid red !important;}
#selyear.error{ border-bottom: 1px solid red !important;}
#selgen.error{ border-bottom: 1px solid red !important;}
.about-content{width: 80% !important;line-height: 28px !important;}
select:focus{ outline: none; }
.gender.valid{color:#848484 !important;}

.no-login .login{
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}
.no-login input[type=submit]:hover, .no-login input[type=button]:hover {background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1b8ab9), color-stop(56%, #3bb0ac), color-stop(100%, #3bb0ac)); 
	background: -webkit-linear-gradient(96deg, #3bb0ac 0%, #3bb0ac 44%, #1b8ab9 100%); 
	background: -o-linear-gradient(96deg, #3bb0ac 0%, #3bb0ac 44%, #1b8ab9 100%);
	background: -ms-linear-gradient(96deg, #3bb0ac 0%, #3bb0ac 44%, #1b8ab9 100%); 
	background: linear-gradient(354deg, #3bb0ac 0%, #1b8ab9 44%, #1b8ab9 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b8ab9', endColorstr='#3bb0ac',GradientType=0 ); 
	border:none;
	}
.no-login .login .form-group input{height:36px;}
.cover footer{background:#fff !important;}
body.cover{padding-bottom:60px;}
/*** add post  ***/
.tablate-add{display:none;}
.tablate-potrat-add{display:none;}
.mob-add{display:none;}
/***  end add  ***/
.header-login .btn-right a:focus{outline:none; background:none !important; color:#fff !important;}
.no-login .modal .forgot_password .form-control.error{border:none; border-bottom:1px solid #ff000;}
#onload-Modal .modal-dialog button{top:15px !important;right: -10px !important;}





/***  media query  ***/
@media screen and (min-height: 540px){
    .cover .modal-content {margin:0 auto;}
}
@media only screen and (max-width: 1350px) and (min-width: 1280px)  {
	footer > .container {padding-left:15px; padding-right:15px; width:1250px;}
}

@media (min-width: 1280px) { 
   .main-inner .pd-low{/*padding-top: 100px;*/}
	.container {width: 1280px;}  
	.cover .middle-section .container{width:1270px}
  
}

@media (max-width: 1279px) {
	.top-middle{padding-left:0;}
	.bottom-middle{padding-left:0;}
	.header-login .input{width:26%;}
	.tablate-add{display:block; width:160px; position:fixed; margin-left:960px;}
}

@media screen and (max-width: 1199px) {

	.login{width:100%;}
	.header-login .input{width:29%;}
	.top-middle h3{font-size:22px;}
	.box-profile{margin:0 20px 20px;}
	.all-profile{width:100%;}
	.profile-box-1.bus::before, .profile-box-1.art::before {height: 60px; left: 74%;}
	.profile-box-1.art::after{height: 60px; left: 22%;}
	/***  add  ***/
	.tablate-add{display:none;}
	.tablate-potrat-add{display:block;}
	.tablate-potrat-add .fw.text-center{text-align:center;}
	.left_side_posrt{position:absolute;}
	/***  end add  ***/
}

@media screen and (max-width: 1024px) {
	.middle-section{padding-top: 24PX;}
	.carousel-fade .carousel-caption .carousel-text{width:60%;}
	.text-effect p{margin:0;}
}

@media screen and (max-width: 991px) {
	.error{font-size: 14px;}
    .main-inner .pd-low{/*padding-top: 100px;*/}
	/*.banner-box .left-profile{left: 0px!important;}*/
	.m-h-a{max-height: 215px;}
	.upload-profile{ width: 110px; height: 110px; padding: 25px 11px;}
	/*.banner-box .left-profile{width: 235px;}*/
	.left-profile .profile-photo{width: 120px; height: 120px;}
	.left-profile .profile-photo img.main-pic{width: 110px; height: 110px;}
	.profile-detail h2{font-size: 20px;}
	.left-profile .profile-photo{top:-84px;	}
	.upload-profile img{width:25px; margin-bottom:2px;}
	.upload-profile{font-size:13px; padding-top:15px;}
	.header-login .input{width:25%;}
	.top-middle h3{font-size:20px;}
	.bottom-middle{padding:0;}
	.carousel-fade .carousel-caption .carousel-text{padding:0;}
	.mail-sent{width:100%;}
	.profile-box-1.rec:after, .profile-box-1.bus:after {display:none;}
	.profile-box-1.job::before{
		transform: rotate(0deg);
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg);
		left:47%;
		bottom:-100%;
	}
	.profile-box-1.bus:before{
		transform: rotate(0deg);
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg);
		left:50%;
		top:-7%;
		height:19px;
	}
	.carousel-fade .carousel-caption .carousel-text{width:100%;}
/*	.mid-trns{width:80%;}*/
	.custom-box .custom-width{max-width:735px;}
	.custom-box .left-box img{width:100%;}
	.custom-box .custom-width{height:222px;}
	.custom-box .custom-width .right-box h1 a{font-size:45px;}
	.banner-box .banner-img{max-height:260px;}
	.custom-box .custom-width .right-box .btns{padding-top:60px;}
	.form-text .mob-none{display:none;}
	.main-login .middle-main{background-position:0% 25%;}
	.login h4{font-size:24px;}
	.top-middle h3{font-size:19px;}
	.cover .middle-section .container{width:750px;}
	.banner-box #row2 img{height:250px;}
	/***  addvertise  ***/
	.tablate-potrat-add{display:none;}
	.tablate-add{display:block; width:160px; position:fixed; margin-left:590px;}
	.mian_middle_post_box{position:inherit; float:left; margin:0 auto; width:580px; }
	/*** end advertise  ***/
	
}

@media screen and (max-width: 767px) {
	header{}
	body.cover{padding-bottom:90px;}
	footer{padding:0; height:65px; text-align:center;}
	footer .pt20{padding:10px 15px !important;}
	footer ul{padding-bottom:5px; float:none; display:inline-block; padding-top:15px;}
	footer ul li{padding-left:0;}
	footer ul li:last-child a{padding-right:15px;}
	.banner-box .upload-camera {
		height: 34px;
		width: 41px;
	}
	.header-login .input{width:46% !important;}
    .t-r-l{text-align: right !important;}
	.header-login .btn1{margin-left: 0px;}
	.header-login .input{width: 46%; margin-right: 2%; margin-left: 2%;}
	.header-login .f-pass{padding-left: 2%;}
    .header-login input{padding-bottom: 0px;}
    .logo{font-size: 24px;}
    .mid-trns{/*transform: inherit ;top:inherit; position: inherit; left: inherit;*/ width:100%;}
    .f-pass{float: left;}
    .main-login .middle-main{padding: 177px 0 120px; background-position: 0 16%; background-size: 150% auto;}
	.main-login{background-size: cover;}
	header h2{text-align:center; padding-bottom:15px;}
	.header-login{text-align:center;}
	.top-middle{min-height:auto; padding:0 0 15px; text-align:center;}
	.bottom-middle{text-align:center;}
	.carousel-fade .carousel-caption img{float:none;}
	.carousel-fade .carousel-caption .carousel-text{float:none; text-align:center;}
	.login{width:444px;}
	.inner-form{width:100%; padding: 0 14px;}
	.login-frm{width: 100%!important;}
    .title{width:100%;}
	.inner-form .login{width:99%;}
	.btn-right{width:100%; float:left; padding-top:15px; padding-right:0px;}

	.main-inner{padding-bottom:90px;}
	.header-login .input{width:46%;}
	.main-inner .btn-right.pull-right{text-align:center; padding-top:0;}
	.mail-sent li{width:100%; padding:5px 15px; border-right:0;}
	.title h1{font-size:35px;}
	.about-content{font-size:14px;}
	.about-us .main-inner .middle-main{padding:95px 0 20px;}
	.main-inner .middle-main{padding:100px 0 0;}
    .main-inner .pd-low{ padding:146px 0 40px; }
	.banner{/*margin-left: -15px;
		margin-right: -15px;*/
		width: 100%;
		float: left;}
	.box-profile, .profile-box-1, .all-profile a.active-profile {width:250px; height:250px;}
	.hover-content p{padding:25px 0;}
	.profile-box-1.bus::before{left:47%; top:-8%;}
	.profile-box-1.art::after{left:20%;}
	.container.mid-trns{transform: inherit; top: inherit; position: inherit; left: inherit;}
	.custom-box .custom-width{height:auto; border-left:0 !important; border-right:0 !important;}
	.custom-box .left-box{width:150px; height:150px; margin:0 auto;}
	.custom-box .right-box{text-align:center !important;}
	.custom-box .custom-width .right-box h1 a::after{left:50% !important; margin-left:-70px; right:inherit !important;}
	.custom-box .custom-width .right-box h1 a{font-size:35px;}
	.custom-box .custom-width .right-box p{padding-top:10px;}
	.custom-box .custom-width .right-box .btns{padding-top:15px;}
	.custom-box .custom-width{max-width:90%;}
	.middle-section{margin-bottom:90px;}
	.how-it-popup .pro_img img{margin-left: 25px; width: 50px; margin-top:-15px;}
	.how-it-popup .pro_img{padding:22px 10px 1px;}
	.how-it-popup .modal-header h1{font-size:26px;}
	.carousel-fade .carousel-caption h3{font-size:24px;}
	.top-middle h3{font-size:24px;}
	.carousel-fade .carousel-caption p{font-size:18px;}
	/*.right-profile{width:40px;}
	.right-profile .right-menu-box{width:40px; height:40px; background-size:100%;}
	.right-profile .right-menu-box:hover{background-size:100%;}*/
	footer .container{padding:10px 15px !important;}
	footer ul{padding-top:0;}
	.banner{padding-top:12px;}
	.cameraButton .fa.fa-camera{height:20px; width:24px; background-size:100%;}
	.banner-box .upload-camera{height:34px; width:38px;}
	.cameraButton .tooltiptext{padding:3px 0 !important; top:-9px !important;}
	body{/*padding-bottom:90px;*/}
	.login form{padding:16px 15px 15px;}
	footer .col-md-6{width:100%; float:left; font-size: 12px;}
	.mid-trns{display:inherit; height:auto;}
	.titlea h1{margin-bottom:0;}
	.cover .middle-section .container{width:100%;}
	.banner-box .upload-camera .cameraButton{padding:4px 7px 3px;}
	/*** add ***/
	.tablate-potrat-add{display:block;}
	.tablate-add{display:none;}
	.mian_middle_post_box{float:none;}
	.mob-add{display:block; border:1px solid #d9d9d9; border-radius:4px; margin-bottom:15px; width:100%; float:left;}
	/*** end add  ***/
	footer ul li:last-child a{padding-right:15px;}
	.form-pd{padding:40px 0 33px;}
	
}

@media screen and (max-width: 640px) {
	.btns .btn-4{font-size: 14px!important;}
	.custom-box .custom-width .right-box a.hew{font-size: 16px!important;}
	.custom-box .custom-width .right-box a{font-size:16px;}
	.left-profile .profile-photo{top: -48px;}
    .main-inner .middle-main{padding-bottom: 0px !important; padding: 125px 0;}
	.registeration .main-inner .middle-main{padding-top:70px;}
    .main-inner .pd-low{padding: 120px 0;}
	/*.banner-box .left-profile{left: 0px!important;}*/
	.box-profile{margin:0 10px 20px;}
	.box-profile, .profile-box-1, .all-profile a.active-profile {width:200px; height:200px;}
	.profile-box-1 .all-img img{width:70px;}
	.profile-box-1{padding:25px 10px;}
	.profile-box-1 .all-discription h4{font-size:20px;}
	.profile-box-1 .all-discription p{font-size:14px;}
	.profile-box-1.bus::before{top:-10%;}
	.hover-content p{padding:22px 0;}
	.profile-box-1.art:before, .profile-box-1.art::after {height:47px;}
	/*.banner-box .left-profile{width:200px;}
	.banner-box .left-profile .profile-photo img{width:35px; height:35px;}
	.banner-box .left-profile{padding:30px 10px;}*/
	.profile-detail h2{font-size:22px;}
	.banner-box .banner-img{max-height:200px;}
	.banner-box img{height:200px;}
	.left-profile .profile-photo{width: 97px; height: 97px;}
	.left-profile .profile-photo img.main-pic{height: 87px; width: 97px;}
	.upload-profile{width: 87px; height: 87px; padding:15px 4px; font-size:9px; line-height:1.5;}
	.upload-profile img{width:25px !important; height:25px !important;}
	.banner-box #row2 img{height:200px;}
	
}

@media screen and (max-width: 479px) {
	.custom-box .custom-width .right-box h1 a::after{left: 50% !important; width: 150px; margin-left: -75px;}
    .pt-a{padding-top: 35px;}
    .main-login .middle-main{/*padding: 180px 0 30px;*/}
	.mob-none{display:none;}
	.profile-detail h2{font-size: 17px;}
	.header-login .input{width:45%;}
	.middle-main{padding:30px 0;}
	.login{width:100%;}
	.header-login .input{width:44%;}
	footer ul li a{font-size:11px; padding:5px 8px;}
	.main-inner .btn-right.pull-right a.btn2{margin-bottom:15px;}
	.about-us .main-inner .btn-right.pull-right a.btn2{margin-bottom:0px;}
	.contact .main-inner .btn-right.pull-right a.btn2{margin-bottom:0px;}
	.feedback .main-inner .btn-right.pull-right a.btn2{margin-bottom:0px;}
	.inner-form .login form{padding:15px 10px;}
	.title h1{font-size:24px;}
	.box-profile{margin:0px 15px 20px;}
	.profile-box-1.job::after, .profile-box-1.job::before, .profile-box-1.bus::before, .profile-box-1.art::before, .profile-box-1.art::after {display:none;}
	/*.banner-box .left-profile{width:130px;}*/
	.login .form-group select.year{width:57px;}
	.login h4{font-size:20px;}
	.md-2{width:90% !important;}
/*	.mid-trns{width:90%;}*/
	.btns .btn-4{padding:5px 20px;}
	.profile-detail h2{line-height:1.5; margin-top:10px;}
	.btn-4{font-size: 12px;}
	.btn-4{padding: 5px 20px;}
	
}

@media screen and (max-width: 360px) {
	.main-inner .btn-right.pull-right a.btn2{padding:8px 18px;}
	.main-inner .btn-right.pull-right a.btn3{padding:8px 18px;}
	.banner {padding-top: 10px;}
	.how-it-popup .modal-body h3{font-size:22px; margin-bottom:12px;}
	/***  add  ***/
	.mob-add{margin-bottom:0; border:none;}
	.padding-360{padding-left:1px; padding-right:1px;}
	.contact-frnd-post{padding:10px 8px 0;}
	/*** end add  ***/
}

@media screen and (max-width: 320px) {
	.por_content ul li{padding: 10px;}
	.login .form-group select{width:60px; margin-right: 5px; }
	.por_content ul li .pro-text{font-size: 12px;}
	.por_content ul li img{margin-right: 3px; float: left; width: 40px; height: 40px;}
	.por_content ul li .pro-text .count{width: 14px;}
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}