/***  job  ***/
/*** common css for job recrutor and freelancer  ***/
.mob-block {display: none;}
.saved,
.applied {
    color: #fff !important;
    background-color: #1b8ab9 !important;
    pointer-events: none;
    font-weight: bold;
}
.job-menu-profile {
    float: left;
    padding-left: 31px;
    width: 22.5%;
    margin-top: 0px;
}
.profile-job-details p {
    color: #5b5b5b;
}
.profile-job-details .job_companyname {
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.buisness-profile-pic-candidate {border: 1px solid #d9d9d9; margin-left: 17px!important;  width: 50px; margin-top: 5px;
    height: 50px; margin-left:17px; margin-bottom: 6px; display: inline-block;} 
.buisness-profile-pic-candidate img { width: 100%; height: 100%;}
.designation_rec { float: left; width: 60%; padding-top: 1px;}
.profile-job-post-location-name-rec ul {padding: 0;}
.profile-job-post-location-name-rec ul li { width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
    padding: 2px 3px 0 8px; margin: 0; list-style: none; display: inline-block;}
.profile-job-post-location-name-rec ul li i { padding-right: 5px;}
.profile-job-post-location-name-rec ul li a { color: #5b5b5b; display: inline-block; font-size: 13px; font-family: 'arial'; font-weight:normal;}

.apply-btn {background: #e8f3f8; padding: 8px 12px;}
.apply-btn a {background: #ffffff; color: #1b8ab9; border-radius: 4px; font-size:15px; padding: 3px 13px; display: inline-block; font-weight: 500; text-transform: capitalize; border: 1px solid #1b8ab9; min-width:72px; text-align:center; margin-left:10px;}
.apply-btn a:hover {color: #fff; background: #1b8ab9;}
li.fr a {text-decoration: none !important;}
.job-contact-frnd .add-post-button{text-align:right;}
.profile-job-profile-button {background-color: #e8f3f8; padding: 4px 0px; border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;}
.profile-job-post-detail .profile-job-post-title .profile-job-profile-menu ul {list-style: none; display: block;
    width: 100%; clear: both; padding: 10px 4px 6px; margin-left: 4px;}
.profile-job-post-detail .profile-job-post-title .profile-job-profile-menu ul li{float:left; width:100%; margin-bottom:5px;}
.profile-job-post-detail .profile-job-post-title .profile-job-profile-menu li a { text-decoration: none; font-weight: 600;}
.profile-job-post-detail .profile-job-post-title .profile-job-profile-menu li a:hover {text-decoration-line: underline;
    color: #1b8ab9;}
.profile-job-post-detail .profile-job-post-title .profile-job-profile-menu ul li b{font-weight:normal;
    width: 30%; float: left;}
.profile-job-post-detail .profile-job-post-title .profile-job-profile-menu ul li span p {text-align: justify;
    word-break: break-word; display: flex; margin-bottom: 0px;}
.profile-job-post-detail .profile-job-post-title .profile-job-profile-menu ul li span p a {color: #3b5283;
    text-decoration-line: underline;}
.profile-job-post-detail .profile-job-post-title .profile-job-profile-menu ul li span::before {content: " :";
    margin-left: -15px; float: left;}
.profile-job-post-detail .profile-job-post-title .profile-job-profile-menu ul li span {word-wrap: break-word;
    word-break: break-word; float: left; padding-right: 10px; width: 65%;}
.profile-job-post-detail .profile-job-post-title .profile-job-profile-menu ul li label {
    font-weight: 600; width: 30%; float: left;}
.profile-job-details ul li {list-style: none;}
.job-post-detail {border-radius: 4px; margin-bottom: 15px;}
.profile-job-details {font-size: 18px; padding-left: 20px;}
.profile-job-details ul {padding: 0px;}
.profile-job-details ul li {list-style: none; position: relative; padding-left: 0px; margin: 0;}
.profile-job-details ul li a {padding-left: 0px; font-weight: bold; display: block; color: #5b5b5b;}
.profile-job-details ul li a:hover { padding-left: 0px; display: block; text-decoration: none;}
.profile-job-details ul li p {margin-bottom: 0;display: inline-block; font-size: 15px; font-weight: 600;}
.profile-job-details ul li .lction p{font-weight: normal; font-size: 13px;}
.profile-job-details .post_title { font-size: 17px; font-weight: 600; width: 60%; word-break: break-word;
    word-wrap: break-word !important; word-break: break-word !important; cursor: default; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
.profile-job-post-detail .profile-job-post-title .button {font-size: 15px; padding: 3px 13px !important; margin-right: 4px;
    margin-left: 4px; background-color: #ffffff; text-transform: capitalize; color: #1b8ab9; border: 1px solid #1b8ab9;
    float: right; font-weight:normal;
}
.last_date{ padding-left: 15px; float: left; padding-top: 4px;}
/***  profile menu  ***/
.profile-pho {height: 160px; width: 160px; background-color: #ffffff; margin-left: 30px; margin-top: -80px;
    border: 3.5px solid #ffffff; border: 1px solid #d9d9d9 !important; border-radius: 4px;
}
.padd_img {padding-left: 5px !important; padding-top: 6px !important;}
.user-pic {height: 152px; width: 153px; overflow: hidden; border-radius: 4px; position: relative; z-index: 3;}
.user-pic img {height: 100%; width: 100%; overflow: hidden;}
.user-pic a {position: absolute; display: none;}
.user-pic a i {padding-right: 7.1px;}
.user-pic:hover a {display: block; bottom: 0; background: rgba(0, 0, 0, 0.6); color: #fff; padding: 4px 4px 4px 6px;
    font-size: 12px;
}
.profile-box-art {height: auto !important;}
.profile-box-art ul li a {height: 50px; padding-top: 7px; padding-bottom: 7px;}
.profile-box-art ul li {padding-left: 0 !important; padding-right: 3px !important;}
.profile-box-art .right-menu-jr ul li a {padding-top: 15px; padding-bottom: 15px;}
.profile-box-art .right-menu-jr .flw_msg_btn ul li a {padding-top: 8px; padding-bottom: 8px;}
.profile-main-rec-box-menu {margin-top: -80px; border: 1px solid #d9d9d9; z-index: -1; background-color: white;}
.profile-main-rec-box-menu ul {list-style-type: none; line-height: 18px; margin: 0; padding: 0; overflow: hidden;}
.profile-main-rec-box-menu li {float: left; margin-bottom: 0px; }
.profile-main-rec-box-menu li a {display: block; color: #1b8ab9; text-align: center; padding: 16px 15px;
    text-decoration: none; font-size: 14px; font-weight: 600;
}
.profile-main-rec-box-menu ul li.active {position: relative; background: #fff;}
.profile-main-rec-box-menu ul li.active a {background: #1b8ab9; color: #ffffff;}
.profile-main-rec-box-menu li a:hover {background-color: #1b8ab9; color: #ffffff; background-color: #1b8ab9; color: #ffffff;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}
.art-side-menu {width: 100%; padding-left: 210px;}
.art-side-menu ul {float: left;}
.right-side-menu {float: left; height: 50px;}
.profile-job-post-detail .profile-job-post-title .profile-job-profile-menu ul li span pre{
	font-size: 13px;
	border: none;
	white-space: pre-line;
	background: transparent;
	padding-top: 2px;
	padding:0px;
	font-family: arial;
	display: contents;
	word-break:break-word;
}
.profile-job-post-location-name-rec .post_name {
    font-size: 18px;
    font-weight: 600;
    margin-left: 0px;
    width: 93%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.profile-job-profile-button ul li a{font-family: 'arial'; font-weight:normal;}
.dot_free{
    width:73%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
/***  left part box  ***/
.profile-box {max-width: 430px; position: fixed;}
.full-box-module {border: 1px solid #d9d9d9; border-radius: 3px; margin-bottom: 10px;}
.profile-boxProfileCard {border: 11px solid #ffffff; background: #fff; border-radius: 3px;}
.profile-boxProfileCard-cover {border: 1px solid #efefef; border-bottom: none;}
.profile-boxProfileCard-bg {background-size: 100%; border-radius: 4px 4px 0 0; background-position: 0 50%; width: 100%;}
.data_img {height: 95px; width: 100%;}
.data_img img {height: 100%; width: 100%;}
.data_img_2 {height: 67px; width: 67px; z-index: 3; position: relative;}
.data_img_2 img {width: 100%; height: 100%;}
.data_img_2 div{
    color:#fff;
    background: -moz-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3bb0ac), color-stop(56%, #1b8ab9), color-stop(100%, #1b8ab9)); /* safari4+,chrome */
    background: -webkit-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* ie10+ */
    background: linear-gradient(354deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bb0ac', endColorstr='#1b8ab9',GradientType=0 );
    font-size: 24px;
    padding: 22px 0;
    text-align: center;
    text-transform: uppercase;
}
.profile-boxProfileCard-content:before {width: 100%; height: 1px; display: block; position: absolute; content: "";
    top: 60px; background: #d9d9d9;}
.profile-boxProfileCard-content {position: relative; background-color: #e8f3f8;}
.left_side_box_img {float: left;}
.buisness-profile-txext {z-index: 1; position: relative; display: inline-block; width: 24%; padding-right: 1px !important;
    padding-left: 1px !important;}
.profile-boxProfilebuisness-avatarLink2 {background-color: #fff; border-radius: 6px; margin: 11px 0 12px 12px;
    padding: 1px; vertical-align: bottom; border: 3px solid #ffffff;
}
.a-inlineBlock {display: inline-block!important; width: 75px; z-index: 3; position: relative; height: 75px;}
.profile-boxProfileCard-content .buisness-profile-txext a img {height: 100%; width: 100%; z-index: 3; position: relative;}
.right_left_box_design {padding: 10px 10px 0px 16px; width: 76%; display: inline-block; float: left;}
.right_left_box_design .profile-company-name {display: block; max-width: 100%; overflow: hidden; 
	text-overflow: ellipsis; white-space: nowrap; width: auto; color: #1b8ab9;
}
.profile-company-name a {font-size: 18px; margin-left: 0px; font-weight: 600; color: #1b8ab9;}
.profile-boxProfile-name{max-width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.left_box_menubar {width: 100%; padding: 0px; margin: 0px; float: left;}
.left_box_menubar li {list-style: none; float: left; text-align: center; padding: 0px; margin: 0px; width: 32.33%;}
.left_box_menubar li a {padding: 10px; display: inline-block;}
.left_box_menubar li:last-child a {text-align: center;}
.left_box_menubar li:first-child { text-align: left;}
.left_box_menubar li:last-child {text-align: right;}
.left_iner_img_profile {
    height: 67px;
    width: 67px;
    z-index: 3;
    position: relative;
    overflow: hidden;
}
.left_iner_img_profile img {
height: 100%;
position: absolute;
left: 50%;
top: 50%;
height: 100%;
width: auto;
-webkit-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
transform: translate
}
.post-img-profile{color: #fff;
width: 100%;
height: 100%;
background: -moz-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3bb0ac), color-stop(56%, #1b8ab9), color-stop(100%, #1b8ab9));
background: -webkit-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%);
background: -o-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%);
background: -ms-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%);
background: linear-gradient(354deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bb0ac', endColorstr='#1b8ab9',GradientType=0 );
font-size: 20px;
padding: 16px 0;
text-align: center;
text-transform: uppercase;
line-height: 1;}
.a-inlineBlock .post-img-profile{line-height: 2;}
.search_img .post-img-profile{line-height: 4;}
.a-inlineBlock .data_img_2 .post-img-profile{line-height: 1;}
.notac_a{text-align: center;}

/*** end left box  ***/



/***----------- end  common css for job recrutor and freelancer  ------------***/

/***----------- common css for all profile  --------------***/
.job-saved-box{margin-bottom:50px; width:100%; float:left;}
.job-saved-box h3 {
    background: #fff !important;
    margin: 0;
    padding: 8px 15px 8px;
    color: #1b8ab9;
	border: 1px solid #d9d9d9;
    text-align: center;
    font-size: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    line-height: 28px;
    border-top-left-radius: 4px;
    border: 1px solid #d9d9d9;
    border-top-right-radius: 3px;
}
.job-contact-frnd {width: 100%; float: left;}
.job-contact-frnd .profile-job-post-detail { background-color: #ffffff; border: 1px solid #d9d9d9; border-radius: 4px;
    margin-bottom: 10px;}
.contact-frnd-post {width: 100%; float: left; border-bottom-left-radius: 4px;  border-bottom-right-radius: 4px; padding: 10px 10px 0; background-color: white; border: 1px solid #d9d9d9;}
.user-midd-section {
    margin: 15px 0 35px;
    width: 100%;
    float: left;
}
.post-img-div{
    color:#fff;
    width:50px;
    height:50px;
    background: -moz-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3bb0ac), color-stop(56%, #1b8ab9), color-stop(100%, #1b8ab9)); /* safari4+,chrome */
    background: -webkit-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* ie10+ */
    background: linear-gradient(354deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bb0ac', endColorstr='#1b8ab9',GradientType=0 );
    font-size: 20px;
    padding: 16px 0;
    text-align: center;
    text-transform: uppercase;
    line-height:1;
}





/***   banner image  ***/
.custom-row div#row2 {background-color: #fff;}
#row2{overflow: hidden; width: 100%;}
#row2 img {height: 350px; width: 100%; border:1px solid #d9d9d9; border-bottom: none;}
.upload-img {float: right; z-index: 2; position: relative; margin-top: -90px; right: 50px;}
label.cameraButton {display: inline-block; margin: 1em 0; cursor: pointer; padding: 0.5em; border: 1px solid #666;
    border-color: #000; background-color: #000; opacity: 0.6; border-radius: 5px;
}
label.cameraButton:active {border-color: #CCC #EEE #EEE #CCC;}
.cameraButton .tooltiptext {visibility: hidden; width: 180px; background-color: black; color: #fff; opacity: 1.0;
    text-align: center; padding: 10px 0px; position: absolute; z-index: 1; font-weight: 800; margin-top: 25px; top: -8px;
    right: 110%;
}
.cameraButton .tooltiptext::after {content: ""; position: absolute; top: 50%; left: 100%; margin-top: -5px; border-width: 5px;
    border-style: solid; border-color: transparent transparent transparent black;
}
.cameraButton:hover .tooltiptext { visibility: visible;}
.cameraButton .fa.fa-camera:hover{opacity: 1.0;}
.cameraButton .fa.fa-camera{width:30px; height:26px; background:url('../../../img/cam.png') no-repeat; border:none; 
	padding:5px; opacity: 0.6; background-size:100%;
}
.cameraButton .fa-camera::before{display:none;}
label.cameraButton input[accept*="camera"] {display: none;}
#row1 {margin: 0 auto; border: 1px solid #d9d9d9; border-top: none; position: relative; height: 350px; overflow: hidden; border-bottom:none;}
#upload-demo {width: 100%;}
#upload-demo-i {background: #e1e1e1; width: 100%; padding: 30px; height: 3px; margin-top: 30px}
.croppie-container .cr-viewport {border-color: #f4f4f4;}
.cover-pic{z-index: 0; position: absolute !important; left: 25px; top: 26px; text-align: center;}
.cover-pic .btn {display: block; margin-top:30px;}
.cancel-result {float: right; display: block; margin-right: 36px; color: #1b8ab9; background-color: #fff; 
	border-color: #1b8ab9;}
.set-btn {float: right; display: block; margin-right: 36px;}
.upload-result {color: #fff; background-color: rgba(27, 138, 185, 0.8); border-color: #1b8ab9; margin-right: 10px;}
#floatBarsG {position: absolute; width: 10%; height: 28px; margin-left: -117px; left: 50%; margin-top: 13%;
    transform: scale(0.3);
}
.floatBarsG {
    position: absolute;
    top: 0;
    background-color: #1b8ab9;
    width: 10px;
    height: 10px;
    animation-name: bounce_floatBarsG;
    -o-animation-name: bounce_floatBarsG;
    -ms-animation-name: bounce_floatBarsG;
    -webkit-animation-name: bounce_floatBarsG;
    -moz-animation-name: bounce_floatBarsG;
    animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    transform: scale(.3);
    -o-transform: scale(.3);
    -ms-transform: scale(.3);
    -webkit-transform: scale(.3);
    -moz-transform: scale(.3);
}
#floatBarsG_1 {
    left: 0;
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
#floatBarsG_2 {
    left: 29px;
    animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
}
#floatBarsG_3 {
    left: 58px;
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
}
#floatBarsG_4 {
    left: 88px;
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
}
#floatBarsG_5 {
    left: 117px;
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
}
#floatBarsG_6 {
    left: 146px;
    animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    -ms-animation-delay: 1.35s;
    -webkit-animation-delay: 1.35s;
    -moz-animation-delay: 1.35s;
}
#floatBarsG_7 {
    left: 175px;
    animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}
#floatBarsG_8 {
    left: 205px;
    animation-delay: 1.64s;
    -o-animation-delay: 1.64s;
    -ms-animation-delay: 1.64s;
    -webkit-animation-delay: 1.64s;
    -moz-animation-delay: 1.64s;
}
.profile-photo {position: relative; z-index: 0;}

/***  edit profile pages  ***/
.common-form1 h3 {font-weight: bold; color: #a0b3b0; text-align: center; border-radius: 10px; background: #fff;
    margin: 10px 0 20px; padding: 6px 15px 8px; font-size: 20px; line-height: 28px; border: 1px solid rgba(0, 0, 0, 0.1);
	font-family: 'robotoregular';
}
.left-side-bar ul {margin: 0; padding: 0;}
.left-side-bar ul li {list-style: none; margin: 0; padding: 0;}
.left-side-bar ul li a {background: #1b8ab9; padding: 10px 15px; display: inline-block; margin-bottom: 2px; color: #fff;
    display: block; font-family: 'robotoregular';
}
.left-side-bar ul li a:hover {background: #156f95; text-decoration: none;}
.left-side-bar ul li.active {position: relative; background: #000;}
.left-side-bar ul li.active a {background: #156f95!important;}
.left-side-bar ul li.active:after {content: "\f00c"; font-family: 'FontAwesome'; position: absolute; top: 11px; right: 8px;
    color: #fff;
}
.common-form_border {border: 1px solid #d9d9d9;}
.red {color: red;}
.experience_year{float: left; margin-right: 43px; width: 45%;}
.experience_month{float: left; width: 45%;}
.file_name_pdf{color:#8c8c8c; font-size:17px; padding-left:10px; visibility:show;}
.post-design-menu ul li a .fa-thumbs-up:hover {
    background-color: #efefef;
    border-radius: 50%;
}
.post-design-menu ul li a .fa-comment-o:hover {
    background-color: #efefef;
    border-radius: 50%;
}
.post-design-menu ul li a .main_color:hover {
    background-color: #e8f3f8!important;
    border-radius: 50%;
}
	
	
	
/***---------- end  common css for all profile  -------------***/
/*** ---------  only job  -----------  ***/
.job_reg_page_fprm{width: 640px; margin: 0 auto;}
.radio_job:focus + label:before{   border: 1px solid #1b8ab9 !important; color: #1b8ab9!important;}
.panel-group.wrap {
    margin-top: 25px;
}
.panel {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #fff;
    background: none;
    box-shadow: none;
}
.panel-group > .panel:first-child .panel-heading {
    border-radius: 4px 4px 0 0;
}
.panel-group.wrap .panel-heading {
    border-radius: 0 !important;
}
.panel:last-child {
    border-bottom: none;
}
.panel-group.wrap .panel {
    margin-bottom: 10px;
}
.panel-group .panel {
    border-radius: 0;
}
.panel-group .panel + .panel {
    margin-top: 0;
}
.panel-heading.active {
    background-color: #156f95;
}
.panel-heading {
    background-color: #1b8ab9;
    border-radius: 0;
    border: none;
    color: #fff;
    padding: 0;
}
.panel-title a {
    display: block;
    color: #fff;
    padding: 15px;
    position: relative;
    font-size: 22px;
    font-weight: 400;
}
.panel-body {
    background: #fff;
}
.panel:last-child .panel-body {
    border-radius: 0 0 4px 4px;
}
.panel:last-child .panel-heading {
    border-radius: 0 0 4px 4px;
    transition: border-radius 0.3s linear 0.2s;
}
.panel:last-child .panel-heading.active {
    border-radius: 0;
    transition: border-radius linear 0s;
}
.panel-heading a:before {
    content: '\f067';
    position: absolute;
    font-family: 'FontAwesome';
    right: 15px;
    top: 10px;
    font-size: 20px;
    transition: all 0.5s;
    transform: scale(1);
}
.panel-heading.active a:before {
    content: ' ';
    transition: all 0.5s;
    transform: scale(0);
}
#bs-collapse .panel-heading a:after {
    content: ' ';
    font-size: 20px;
    position: absolute;
    font-family: 'FontAwesome';
    right: 15px;
    top: 10px;
    transform: scale(0);
    transition: all 0.5s;
}
#bs-collapse .panel-heading.active a:after {
    content: '\f068';
    transform: scale(1);
    transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
    transform: rotate(0deg);
    transition: all 0.5s;
}

.panel-group.wrap .panel-title a {
    padding: 10px 15px;
    font-size: 18px;
    line-height: 1;
}
#jobseeker_regform_primary {
    border: none !important;
    margin-bottom: 0px!important;
}
.dele_highrt{margin-top: 15px;}
.dele_highrt img{float: left;}
.dele_highrt .fa-file-pdf-o{font-size:3em;}



/*** ---------  end only job  -----------  ***/

/***  profile progreess box  ***/
.edit_profile_job{display:none;}
.tr_text{display:none;}
.true_progtree img{display:none;}
.edit_profile_progress{float:right;}
.edit_profile_progress{width: 100%; background-color: white; border:1px solid #d9d9d9; border-radius: 3px; margin: 15px 0px; padding: 10px 0px 0px;}
.progre_bar_text p{color: #000;
font-size: 13px;
font-weight: 600;
text-align: center;}
.circle-1 {
  width: 175px;
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;

}
.edit_profile_progress:hover{
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;

}
.progre_bar_text{padding: 0px 17px;}
  
.edit_profile_job{
    position: absolute;
bottom: 50px;
left: 51px;

}
.edit_pr_bar .circles{ padding-left: 48px; }
.circles{
    padding-left: 20px;
padding-top: 14px;
}
.circle-1 canvas {
  vertical-align: middle;
  width:175px;
  height:175px;
  border:1px solid transparent;
  display:black;
}
.circle-1 strong {
  position: absolute;
  top: 55px;
  left: 5px;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
}
.job_edit_menu{width: 18.5% !important;}
.profile-box-left .edi_origde .edit_profile_progress{width:100%; float:left;}
.profile-box-left .edi_origde .progre_bar_text{width:49%; float:left; padding:39px 22px 0;}
.profile-box-left .edi_origde .count_main_progress{width:185px; float:left;}
.profile-box-left .edi_origde .count_main_progress .circles{padding:0;}
.profile-box-left .edi_origde .progre_bar_text p{text-align:left; color:#4c4c4c;}
.edit_pr_bar{width: 23%!important; display: inline-block; margin: 0px !important;}

/*** mobile progress bar  ***/
.mob-progressbar{display:none; padding:15px; border:1px solid #d9d9d9; border-radius:4px; margin-bottom:15px; background:#fff;}
.mob-progressbar .progress { height: 30px; margin-top:5px; background:#e5e5e5; margin-bottom:6px;}
.mob-progressbar p{font-size:12px;}
.mob-progressbar .progress .skill { line-height: 30px; padding: 0; margin: 0 0 0 20px; text-transform: uppercase;}
.mob-progressbar .progress .skill .val {font-style: normal; margin: 0 20px 0 0;}
.mob-progressbar .progress-bar { text-align: center; transition-duration: 3s;}
.mob-progressbar .progress-bar-custom{
    background: -moz-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3bb0ac), color-stop(56%, #1b8ab9), color-stop(100%, #1b8ab9)); /* safari4+,chrome */
    background: -webkit-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* ie10+ */
    background: linear-gradient(354deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bb0ac', endColorstr='#1b8ab9',GradientType=0 );
}
.mob-progressbar .mob-edit-pro{text-align:center;}
.mob-progressbar .mob-edit-pro .fa{padding-right:5px;}
.temp .mob-edit-pro a{pointer-events: none; cursor: default;}
.temp .mob-edit-pro .fa{display:none;}

.art_no_post_avl{    
	background: white;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-top: 0px;
    display: inline-block;
    width: 100%;
}
.art_no_pva_avl{
    background: white;
    display: inline-block;
    width: 100%;
}
.art-img-nn{
	width: 100%;
	text-align: center;
	margin: 30px 0px;
}
.art_no_post_avl h3{
    padding: 4px 0px;
	width: 100%;
	text-align: center;
	color: #1b8ab9;
	border-bottom: 1px solid #d9d9d9;
}
.art_no_post_img {
    padding-top: 20px;
    padding-bottom: 20px;
}
.art_no_post_text{
    line-height: 40px;
	color: #cccccc;
	font-size: 32px;
	padding-top: 30px;
}
.art_no_post_text1{
	color: #ccc;
	font-size: 32px;
}

/***  job new registration  ***/
#jobseeker_regform {
    border: none !important;
    margin-bottom: 0px!important;
	padding:10px;
}
#jobseeker_regform input:focus{border: 1px solid #1b8ab9 !important;color: #1b8ab9!important;}
#jobseeker_regform input#submit:focus{border: none!important;}
#jobseeker_regform input[type="submit"]:focus{color: white!important;}
#industry:focus{border: 1px solid #1b8ab9 !important; color: #1b8ab9!important;}
.job_reg_main{border: 1px solid #d9d9d9; border-radius: 3px;}
.job_reg_main form{border-radius: 3px;}
.job_reg_main h3{    
	border-bottom: 1px solid #d9d9d9;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 15px 0px;
    font-size: 24px;
	background:#fff;
	color:#1b8ab9;
	text-align: center;
}
.job_reg{margin: 15px 0px;}
.fresher_radio{padding:6px 8px;}
.common-form fieldset.fresher_radio label{display: inline-block;}
.common-form  fieldset.main_select_data select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background: url(../../../img/down-arrow.png) no-repeat;
    background-position: right;
}
.common-form fieldset.fresher_select select{overflow: hidden;}

.main_raio [type="radio"]:checked,
.main_raio [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.main_raio [type="radio"]:checked + .point_radio,
.main_raio [type="radio"]:not(:checked) + .point_radio
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.main_raio [type="radio"]:checked + .point_radio:before,
.main_raio [type="radio"]:not(:checked) + .point_radio:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.main_raio{display: inline-block;padding: 6px 5px 0px;}
.main_raio [type="radio"]:checked + .point_radio:after,
[type="radio"]:not(:checked) + .point_radio:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #1b8ab9;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.main_raio [type="radio"]:not(:checked) + .point_radio:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.main_raio [type="radio"]:checked + .point_radio:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.job_reg input[type="submit"]{
    font-size: 17px !important; 
    height: auto;
    font-weight: 600;
    background: -moz-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3bb0ac), color-stop(56%, #1b8ab9), color-stop(100%, #1b8ab9));
    background: -webkit-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%);
    background: -o-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%);
    background: -ms-linear-gradient(96deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%);
    background: linear-gradient(354deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bb0ac', endColorstr='#1b8ab9',GradientType=0 );}

.job_reg input[type="submit"]:hover{background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1b8ab9), color-stop(56%, #3bb0ac), color-stop(100%, #3bb0ac)); 
    background: -webkit-linear-gradient(96deg, #3bb0ac 0%, #3bb0ac 44%, #1b8ab9 100%); 
    background: -o-linear-gradient(96deg, #3bb0ac 0%, #3bb0ac 44%, #1b8ab9 100%);
    background: -ms-linear-gradient(96deg, #3bb0ac 0%, #3bb0ac 44%, #1b8ab9 100%); 
    background: linear-gradient(354deg, #3bb0ac 0%, #1b8ab9 44%, #1b8ab9 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b8ab9', endColorstr='#3bb0ac',GradientType=0 ); 
}
.bestofmine_image_secondary{position: relative;}
.reactivatebox {
    height: 160px;
    width: 80%;
    background-color: #fff;
    margin-top: 16%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 2px #bfbfbf;
    align-items: center;
}
.reactivate_header {
    padding: 3px;
}
.reactivate_header h2 {
    margin: 10px 0px;
}
.reactivate_btn_y {
    height: 20px;
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 25px;
}
.reactivate_btn_y a {
    text-decoration: none;
    padding: 10px 35px;
    background-color: #1b8ab9;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
}
.reactivate_btn_y a:hover {
    color: #fff;
}
.reactivate_btn_n {
    height: 20px;
    width: 50%;
    text-align: center;
    float: left;
    margin-top: 25px;
}
.reactivate_btn_n a {
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 6px;
    background-color: #1b8ab9;
    font-size: 20px;
    color: #fff;
}
.reactivate_btn_n a:hover {
    color: #fff;
}
#erroe_nn label select .error {
    border: 1px solid red!important;
}
#paddingtop_fixed_job {
    padding-top: 80px!important;
}
.tsecondary_certi{float: left;
    margin-left: -12px;
    background: #1b8ab9;
    color: white;
    padding: 3px 5px 1px;
    border-radius: 100%;
    margin-top: -10px;
    cursor: pointer;}
.tsecondary_certi i{color: white; cursor: pointer; font-size: 12px;}
.job_work_experience_main_div h6{font-size: 17px; padding: 5px 0px;}
.job_paddtop {
    padding-top: 0px!important;
}
#jobseeker_regform_higher_secondary .job_education_submitbox {
    margin-top: 20px;
}
#jobseeker_regform_secondary .job_education_submitbox {
    margin-top: 20px;
}
.job_education_submitbox {
    text-align: right !important;
}
#jobseeker_regform input#btnAdd:focus{color: white!important}
#btnAdd {
    color: white !important;
    padding: 6px 12px 6px!important;
    min-width: 49px!important;
}
#btnRemove {
    padding: 6px 12px 6px!important;
    min-width: 49px!important;
}
.pagi_exp .tablinks {
    padding: 2px 3px;
    background-color: white;
    color: black;
}
.data_exp {
    border: none!important;
}
.pagi_exp {
    margin: 0 auto;
    text-align: center;
}
.pagi_exp .tablinks:hover {
    background-color: #d9d9d9;
    border-radius: 3px;
}
.display_inline_block {
    display: inline-block;
}
#jobseeker_regform_secondary {
    border: none !important;
    margin-bottom: 0px!important;
}
#jobseeker_regform_higher_secondary {
    border: none !important;
    margin-bottom: 0px!important;
}
.job_edu_graduation_submit_btn {
    padding: 6px 9px 6px;
    font-size: 14px;
}
.job_edu_graduation_removebox {
    margin-left: 10px;
}
.job_edu_graduation_removebtn {
    padding: 5px !important;
    font-size: 13px !important;
    margin-right: 0px !important;
}
.job_edu_graduation_nextbtnbox {
    padding: 20px 0 0;
}
.job_edu_graduation_nextbtn {
    font-size: 16px !important;
    min-width: 120px !important;
    margin-right: 0px !important;
}
.job_work_experience_main_div input.datad_delete{
    background: url('../../../img/error.png') no-repeat;      
    background-size: auto auto;     
    background-size: 100%;      
    height: 20px;
	width: 20px;
	min-width: 20px;
	padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
	margin-left: -10px;
	margin-top: -6px;
}
.job_education_submitbox {
    width: 100%;
    text-align: center;
}
.job_edu_graduation_addbtnbox {
    margin-right: 10px;
}
.job_edu_graduation_addbtn {
    padding: 5px !important;
    font-size: 13px !important;
    margin-right: 0px !important;
}
.job_edu_graduation_submitposition {
    margin-right: 0px;
    padding: 9px;
}
.job_edu_graduation_submitbtn {
    padding: 5px 9px !important;
    margin-right: 0px !important;
}
.true_progtree{
    position: absolute;
	top: 52px;
	left: 48px;
}
.tr_text{padding: 10px 0px; color: #1b8ab9;}
.butt_rec {
    background: #1b8ab9 !important;
    color: #fff !important;
    padding: 10px 35px;
    display: inline-block !important;
    border-radius: 4px;
    pointer-events: none !important;
}
.butt_rec:hover {
    background: #1b8ab9 !important;
    color: #fff !important;
}
#jobseeker_regform #other_keyskill {
    width: 90% !important;
}
.fa-2x {
    font-size: 2em;
}
.profile-box-art .right-menu-jr .flw_msg_btn ul li a.butt_rec  {letter-spacing: 1px;
width: 90px;
padding: 9px 15px;
background: linear-gradient(354deg, #1b8ab9 0%, #1b8ab9 44%, #3bb0ac 100%) !important;
border: none;}
.sory_image{margin: 15px;}
.not_founde_head{
	color: #1b8ab9;
    font-size: 32px;
    margin: 25px;
}
.not_founde_head2{font-size: 30px; color: #1B8AB9; margin: 10PX;}
.job_edit_pr{padding-left: 245px;}

@media screen and (max-width: 1024px){
    .date-dropdowns .year{padding-left: 5px;}
}

@media screen and (max-width: 767px)
{
    .job_reg_page_fprm{width: 95%;}
    .common-form1 h3{font-size: 15px;}
    ..date-dropdowns .year{padding-left: 5px;}
}