/***  media query  ***/
@media (min-width: 1400px) {
}
@media screen and (min-width: 1200px) and (max-width: 1350px) {
}
@media (min-width: 1280px) {
}
@media screen and (max-width: 1200px) { 
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 991px) {   
}
@media screen and (max-width: 900px) {  
}
@media screen and (max-width: 800px) {   
}
@media screen and (max-width: 768px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (max-width: 767px) { 
}
@media screen and (max-width: 640px) {   
} 
@media screen and (max-width: 639px) {
}
@media screen and (max-width: 539px) {   
}
@media screen and (max-width: 540px) {  
}
@media screen and (max-width: 479px) {
	/** job rec fre **/
	
	/*******/
	/** all **/
	
	/******/
    .cq_latest_right{width: 76%;}
    .cq_latest_left{width: 20%;}
    .addcontact-left{width: 75%;}
    .addcontact-right{width: 25%;}

      .search-mob-block label{margin-top: 7px; margin-left: 0px;}
    .designation_rec {
  width: 39% !important;
}

  .edit_sd{width: 60%!important}

.profile-pho-bui{border: none;}
     .post-img-user {
    font-size: 16px;
    height: 67px;
    line-height: 0;
    padding: 22px 0;
    width: 48px;}

.search_button button{width: 78px;
padding: 5px 8px; font-size: 12px;}
  .floatBarsG{width: 20px; height: 20px;}
  #floatBarsG {
    position: absolute;
    width: 19%;
    height: 28px;
    margin-left: -156px;
    left: 68%;
    margin-top: -7%;
    transform: scale(0.3);
}
    .experience_year{width:100%; margin-right:0; margin-bottom:15px;}
    .experience_month{width:100%;}
    #notificationLink span{margin-left:6px;}
    #add_contact #addcontactContainer::before {
    right: 218px;
}
    .mob-comment{right: 0;}
    .padd_set .change-password{padding: 0;}
  .post-design-box .post-design-desc .editable_text{width: 80%;}
  .post-design-box .post-design-desc .fr{padding: 6px 10px;}
    .post-design-product span{font-size: 11px;}
    .post-design-pro-img{padding-left: 7px;}
    #a_li{position: inherit !important;}
    #acon::before{right:115px !important;}
    #acon{width: 100% !important; margin-top: 22px !important;}
    #notificationContainer::before{right:55px;   border: 9px solid black; margin-top: -18px; border-color: transparent transparent #fff;}
    .how-it-popup .modal-body h3{display: block;}
    .how-it-popup .pro_img img{margin-left: 0px ; text-align: center;}
    .banner{padding-top: 21px;}
    .profile-detail h2{font-size: 13px;}
    .custom-box .custom-width .right-box a{font-size: 12px!important; }
    .btn-1{padding: 7px 30px}
    .btns .btn-4{padding: 7px 30px;}
    .middle-section{padding-bottom: 10px;}
    .main-text-area{margin: 4px 3px 4px 0px;}
    .profile-text1{width: 100%;}
    .profile-text1 .chng_email{font-size: 12px;}
    .profile-text1 .vert_email{font-size: 12px; margin: 0px;}
    .profile-text1{top:16px; padding-top: 25px;}
    .profile-text1 .as-p{letter-spacing: 0px;}

    .post-design-desc {
        font-style: 12px;
    }
  
    .mob-plr0 {
        padding-left: 0;
        padding-right: 0;
    }
    .pl15-mob {
        padding-left: 15px;
    }
/*    .fw-479 {
        width: 100%;
    }*/
    .logo h2 {
        font-size: 20px;
    }
    fieldset {
        width: 100%;
    }
    .profile-box-job-menu ul li {
        padding-left: 0;
        margin-bottom: 0;
    }
    .profile-box-job-menu ul li a {
        margin-right: 0px !important;
        font-size: 13px;
        padding: 8px 10px 6px;
    }
    .profile-company-name a {
        font-size: 16px;
    }
    .profile-box-user .profile-boxProfile-name a {
        font-size: 12px;
    }
    .a-inlineBlock {
        width: 60px;
        height: 60px;
    }
    .profile-boxProfileCard-content .buisness-profile-txext a img {
        height: 52px;
        width: 52px;
    }
    .profile-boxProfilebuisness-avatarLink2 {
        margin: 10px 0 0 5px;
    }
    .profile-text-bui-user {
        padding-top: 5px;
        padding-right: 5px !important;
    }
    .profile-box-job-menu {
        margin-top: -22px;
    }
    .fw-479.md-pl0 {
        padding-left: 15px;
    }
    .popup-text {
        padding-right: 0;
    }
    .popup-img {
        padding-right: 5px;
    }
    .profile-main-rec-box-menu li {
        padding-left: 2px;
    }
    .right-side-menu {
        padding-left: 24%;
    }
    .profile-box-art .right-side-menu {
        padding-left: 0%;
        padding-right: 0;
        margin-left: 0;
    }
    .profile-job-profile-menu ul li {
        padding-left: 0;
    }
    .post-design-name ul li .post_dot {
        font-size: 14px;
       
    }
    .post-design-product {
        font-size: 12px;
    }
    .cmy_2 {
        width: 100%;
        padding-right: 0;
    }
    .post-design-name ul li .post_dot {
        font-size: 14px;
    }
    .cmy_2 {
    
        padding-right: 0;
        position: relative;
    }
    .two-images {
        height: 150px;
    }
    .three-image {
        height: 150px;
    }
    .four-image {
        height: 150px;
    }
    .more-image {
        height: 149px;
    }
    .comment-name {
        width: 79%;
    }
    .comment-details-menu {
        padding: 0;
    }
    .comment-details-menu a {
        font-size: 12px;
    }
    .comment-details-menu p {
        font-size: 12px;
    }
    .post-design-menu ul {
        width: 40%;
    }
    .post-design-menu ul.like_cmnt_count {
        width: 60%;
    }
    .post-design-menu ul li a {
        margin-right: 10px !important;
    }
    .like_cmmt_space {
        margin-left: 0;
    }
    .post-design-top {
        padding-left: 9px;
        padding-right: 9px;
        width: 100%;
    }
    .post-design-mid {
        padding-left: 10px;
        padding-right: 10px;
    }
    .post-design-like-box {
        padding-left: 10px;
        padding-right: 10px;
    }
    div[class^="likeduserlist"] {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }
    .likeduserlist,
    .likeduserlist1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .post-design-commnet-box {
        padding: 10px 14px;
    }
    
    .post-edit-popup .editor-content {
        width: 80%;
    }
    .profile-main-box-buis-menu li a {
        padding: 10px 5px 12px !important;
        width: 100%;
    }
    .job-menu-profile.mob-block {
        margin-top: 0px;
        padding-bottom: 10px;
    }
    .job-menu-profile h5 {
        font-size: 16px;
        line-height: 1.5;
    }
    .profile-main-rec-box-menu.profile-box-art {
        width: 100%;
        float: left;
        margin-top: 0;
        text-align: center;
    }
    .profile-box-art .left-side-menu {
        display: none;
    }
    .profile-box-art ul {
        display: inline-block;
    }
    .profile-text a {
        font-size: 14px;
        padding-top: 0;
        line-height: 1;
    }
    .profile-box-art .right-side-menu li a {
        font-size: 12px;
    }
    ul li,
    ol li {
        font-size: 12px;
    }
    .comment-edit-butn {
        float: left;
        padding: 0 50px 6px;
        position: inherit;
        bottom: inherit;
        right: inherit;
    }
    .notification-data-inside h6 {
        font-size: 12px;
    }
 
    .user_lst li .follow-li-text a {
        font-size: 16px;
    }
    .profile-job-details .job_companyname {
      /*  font-size: 10px;
      */  line-height: 1;
      /*  font-weight: 500;
   */ }
    .profile-job-details .display_inline {
        font-size: 12px;
        line-height: 1;
        /*font-weight: 600;*/
    }
    .alert {
      font-size: 16px;
      font-size: 16px;
   
    padding-left: 5px !important;
    padding-right: 20px;
    }
    .post-editor .popup-social-icon ul li i {
        font-size: 12px;
    }
    .profile-job-post-location-name {
        padding: 6px 0px;
    }
    .follow-img {
        height: 50px;
        width: 50px;
    }
    .profile-left{margin-left: 5px;}
    .profile-job-post-detail .profile-job-post-title .profile-job-profile-menu ul li b {
        width: 32%;
    }
    .profile-job-post-detail .profile-job-post-title .profile-job-profile-menu ul li span {
        width: 68%;
    }
    /*.padding_job_rs ul li {width: 100%;}*/
    /*  .padding_job_rs ul li .lction{width: 100%;}*/
    
    .profile-pho-bui {
        height: 50px;
        width: 50px;
        margin-top: 12px;
    }
    .profile-pho-bui .user-pic {
    height: 49px;
    width: 49px;
    }
    .bui-menu-profile {
        width: 70%;
        overflow: hidden;
    }
    .circle {
        top: 22%;
    }
    .addtocont {
        top: 84px;
    }
    .bui-menu-profile h4 a {
        line-height: 22px
    }
    .bui-menu-profile .profile-head-text a {
        font-size: 14px !important;
    }
    .bui-menu-profile .profile-head-text {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .profile-head-text{margin-top: 8px;}
    .profile-head-text_dg{line-height: 18px;}
    .bui-menu-profile .profile-head-text_dg a {
        font-size: 12px;
    }
    .bui-menu-profile {
        padding-left: 71px!important;
    }
    .pro-fw li a {} .remove_tab a::before {
        height: 2px;
    }
    .right-side-menu {
        padding-left: 25%;
    }
    .profile-main-rec-box-menu {
        margin-top: 0px;
    }
    .profile-job-details {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    fieldset .add_post_btnc {
        min-width: 83px;
        padding: 10px 20px 10px;
        font-size: 12px;
    }
    fieldset .add_post_btns {
        min-width: 83px;
        padding: 12px 5px 11px;
        font-size: 12px !important;
    }
    .modal.in .modal-dialog {
        width: 90%;
        margin: 20px auto;
    }
    .folle_text {
        width: 48%;
    }
    .user_btn button {
        font-size: 12px;
        width: 98px;
padding: 4px 7px;
        margin-top: 10px;
    }

    .editable_text {
        padding-right: 45px;
    }

    .cover-pic{bottom:60%;}
    .cover-pic .btn{font-size:13px; padding:3px 10px;}
    .add-contact div{width:40px; height:40px;}
    #contact_per .addtocont{top:30px;}
   
    #contact_per{width:40%;}
    .text-center.tab-block a{margin:0 10px;}
    .details_all_tital{font-size:18px;}
    .cls-ve{top:35px;}
    .people-list .search input{width:93%;}
     .tabs-left > li > a {
        font-size: 12px;
    }
}
@media screen and (max-width: 360px) {
    .profile-job-post-location-name-rec .designation_rec {
    width: 71% !important;
}
.addcontact-left{width: 70%;}
    .addcontact-right{width: 30%;}
   .user_lst ul li button{
        margin-right: 14px;
width: 83px;
    }
    .header ul {
    margin: 12px 0px 1px;
}
#notificationContainer{top: 31px;}
.cq_latest_right{width: 70%;}
.cq_latest_left{width: 25%;}
    #industry option{width:100%;}
    .designation_rec_1{width: 75%;}
    .bg-search .header2{margin-top:-7px;}
    .hout_noti{font-size: 11px;}
    .action-button #message_count {
    right: 163px;
}
    .job-saved-box .notification-box ul li{padding: 0;}
    #notification_inside h6{font-size: 12px !important;}
    #notification_inside{   padding: 5px 5px 9px 1px !important;
margin-left: 7px !important;}
.job_con #InboxContainer::before {
    right: 131px;
}
    .profile-job-details .display_inline{font-size: 10px;}
    .profile-job-details .job_companyname {font-size: 10px;}
    .profile-job-details ul li .lction p {font-size: 10px;}
    .created_date{font-size: 10px;}
    #acon::before{right: 125px!important;}
    .header2 ul li a#addcontactLink{padding: 6px 2px !important;}
   .header2 ul li a#InboxLink{padding: 12px 8px 4px;}
    #notificationContainer::before{right: 55px;}
    .email-verify{float: left; width: 100%; }
    .logo h2{padding:0; line-height:27px;}
    
    .alert{float: left;}
    .h-img{height: 25px; width: 25px;}
    .padd_img { padding-left: 3px !important; padding-top: 4px !important;}
    .padding_job_r ul .date_re {
        padding-left: 15px;
    }
    .user_lst li .follow-li-text a {
        font-size: 14px;
    }
    .profile-job-post-location-name ul li .follow-li-text {
        padding: 0px;
    }
    .user_btn button {
        font-size: 10px;
        width: 64px;
        padding: 2px 3px;
        margin-bottom: 11px;
        margin-top: 10px;
    }
    .prev, .next{top: 215px;}
    .folle_text {
        width: 43%;
        padding-left: 3px;
    }
    .follow-img {
        height: 40px;
        width: 40px;
    }
    .rsp {
        padding-left: 3px;
    }
    .post-design-box .post-design-desc .fr {
    padding: 3px 6px;
    font-size: 12px;
}
    .profile-job-post-detail .profile-job-post-title .profile-job-profile-menu ul li b {
       width: 42%;
font-size: 12px;
    }
    .profile-job-post-detail .profile-job-post-title .profile-job-profile-menu ul li span {
        width: 58%;
        font-size: 12px;
    }
    .profile-box-art .right-side-menu .pro-fw li a {
        padding-left: 1px !important;
        padding-right: 1px !important;
        font-size: 11px;
        text-align: center;
    }
   
    .nav > li > a {
        padding: 10px 7px;
    }
    .profile-main-rec-box-menu li a {
        padding: 10px 7px;
    }
    .job-menu-profile h5 {
        font-size: 16px;
        line-height: 1.5;
    }
    .profile-job-details {
        padding-left: 3px !important;
        padding-right: 1px !important;
    }
    .profile-job-details .post_title {
        width: 50%;
        font-size: 11px;
    }
    .date_re {
        font-size: 10px;
    }
    .profile-job-details .job_companyname {
        width: 140px;
    }
    .profile-job-details ul li p {
        font-size: 13px;
        font-weight: 600;
        padding-right: 8px;
        line-height: 10px;padding-left: 4px;
    }
    .profile-job-post-detail .profile-job-post-title .profile-job-profile-menu ul li span p {
        font-size: 12px;
    }
    .job_all_post {
        width: 100%;
        margin-bottom: 10px!important;
    }
    .profile-job-post-detail .profile-job-post-title .button {
        font-size: 12px;
        padding: 3px 14px !important;
    }
    .logo {
        padding: 7px 0 0px;
    }
    .right-side-menu {
        width: 100%;
    }
    .cmy_2 {
        width: 100%;
    }
    .two-images {
        height: 120px;
    }
    .three-image {
        height: 120px;
    }
    .four-image {
        height: 120px;
    }
    .more-image {
        height: 119px;
    }
    .three-image-top {
        height: 15%;
    }
    .post-design-name {
        padding-right: 0;
    }
    .editor-content {
        width: 77%;
        padding-left: 0;
    }
    .post-edit-popup .editor-content {
        width: 76%;
    }


    .comment-name {
        width: 78%;
    }
    .popup-text textarea::-webkit-input-placeholder {
        font-size: 10px;
    }
    .profile-main-box-buis-menu li a {
        font-size: 10px;
        height: 40px;
        padding: 5px 2px !important;
    }
    .profile-box-art .right-side-menu li a {
        font-size: 14px;
        font-weight: 500;
    }
    .cls-ve{top:23px;}
    .people-list .search input{width:92%;}

}
@media screen and (max-width: 320px) {

    .main-txt{width: 82%;}
    .main_raio [type="radio"]:checked + .point_radio, .main_raio [type="radio"]:not(:checked) + .point_radio{padding-left: 20px;}
    .how-it-popup{width: 97%;}
    .header2 ul li.active a{padding: 9px 0px 9px;}
    .created_date {font-size: 8px; letter-spacing: 0.5px;}
    .profile-job-details .post_title{font-size: 9px;}
}