/***  media query  ***/
@media (min-width: 1400px) {
}
@media screen and (min-width: 1200px) and (max-width: 1350px) {
}
@media (min-width: 1280px) {
}
@media screen and (max-width: 1200px) { 
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 991px) {   
}
@media screen and (max-width: 900px) {  
}
@media screen and (max-width: 800px) {   
}
@media screen and (max-width: 768px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (max-width: 767px) { 
}
@media screen and (max-width: 640px) {   
} 
@media screen and (max-width: 639px) {
}
@media screen and (max-width: 539px) {   
}
@media screen and (max-width: 540px) {  
}
@media screen and (max-width: 479px) {
	/** job rec fre **/
	
	/*******/
	/** rec **/
	.search-mob-block label{margin-top: 7px; margin-left: 0px;}
	.post-img-user {
		font-size: 16px;
		height: 67px;
		line-height: 0;
		padding: 22px 0;
		width: 48px;
	}
	.floatBarsG{width: 20px; height: 20px;}
	#floatBarsG {
		position: absolute;
		width: 19%;
		height: 28px;
		margin-left: -156px;
		left: 68%;
		margin-top: -7%;
		transform: scale(0.3);
	}
	.experience_year{width:100%; margin-right:0; margin-bottom:15px;}
    .experience_month{width:100%;}
	.banner{padding-top: 21px;}
	.main-text-area{margin: 4px 3px 4px 0px;}
	.profile-company-name a {
        font-size: 16px;
    }
	.profile-box-user .profile-boxProfile-name a {
        font-size: 12px;
    }
	.a-inlineBlock {
        width: 60px;
        height: 60px;
    }
	.profile-boxProfileCard-content .buisness-profile-txext a img {
        height: 52px;
        width: 52px;
    }
    .profile-boxProfilebuisness-avatarLink2 {
        margin: 10px 0 0 5px;
    }
	.right-side-menu {
        padding-left: 24%;
    }
    .profile-box-art .right-side-menu {
        padding-left: 0%;
        padding-right: 0;
        margin-left: 0;
    }
	.profile-job-profile-menu ul li {
        padding-left: 0;
    }
	.job-menu-profile.mob-block {
        margin-top: 0px;
        padding-bottom: 10px;
    }
	.job-menu-profile h5 {
        font-size: 16px;
        line-height: 1.5;
    }
	.profile-text a {
        font-size: 14px;
        padding-top: 0;
        line-height: 1;
    }
	.profile-job-details .job_companyname {
       line-height: 1;
     }
    .profile-job-details .display_inline {
        font-size: 12px;
        line-height: 1;
    }
	.profile-job-post-location-name {
        padding: 6px 0px;
    }
	.profile-job-post-detail .profile-job-post-title .profile-job-profile-menu ul li b {
        width: 32%;
    }
    .profile-job-post-detail .profile-job-post-title .profile-job-profile-menu ul li span {
        width: 68%;
    }
	.circle {
        top: 22%;
    }
	.pro-fw li a {} .remove_tab a::before {
        height: 2px;
    }
    .right-side-menu {
        padding-left: 25%;
    }
	.profile-job-details {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
	.cover-pic{bottom:60%;}
    .cover-pic .btn{font-size:13px; padding:3px 10px;}
	.designation_rec {
	  width: 39% !important;
	}
	.details_all_tital{font-size:18px;}
	.profile-main-rec-box-menu li {
        padding-left: 2px;
    }
	.profile-main-rec-box-menu.profile-box-art {
        width: 100%;
        float: left;
        margin-top: 0;
        text-align: center;
    }
	.profile-box-art .left-side-menu {
        display: none;
    }
    .profile-box-art ul {
        display: inline-block;
    }
	.profile-box-art .right-side-menu li a {
        font-size: 12px;
    }
	.profile-main-rec-box-menu {
        margin-top: 0px;
    }
	fieldset .add_post_btnc {
        min-width: 83px;
        padding: 10px 20px 10px;
        font-size: 12px;
    }
	fieldset .add_post_btns {
        min-width: 83px;
        padding: 12px 5px 11px;
        font-size: 12px !important;
    }
	/******/
  
    
    
    
    
    
    
     
}
@media screen and (max-width: 360px) {
	/** rec ***/
	.profile-job-post-location-name-rec .designation_rec {
		width: 71% !important;
	}
	.designation_rec_1{width: 75%;}
	/******/
	/** all **/
	#industry option{width:100%;}
	.hout_noti{font-size: 11px;}
	/*****/
    
    
    
    
    
    .action-button #message_count {
    right: 163px;
}
    .job-saved-box .notification-box ul li{padding: 0;}
    #notification_inside h6{font-size: 12px !important;}
    #notification_inside{   padding: 5px 5px 9px 1px !important;
margin-left: 7px !important;}
.job_con #InboxContainer::before {
    right: 131px;
}
    .profile-job-details .display_inline{font-size: 10px;}
    .profile-job-details .job_companyname {font-size: 10px;}
    .profile-job-details ul li .lction p {font-size: 10px;}
    .created_date{font-size: 10px;}
    #acon::before{right: 125px!important;}
    .header2 ul li a#addcontactLink{padding: 6px 2px !important;}
   .header2 ul li a#InboxLink{padding: 12px 8px 4px;}
    #notificationContainer::before{right: 55px;}
    .email-verify{float: left; width: 100%; }
    .logo h2{padding:0; line-height:27px;}
    
    .alert{float: left;}
    .h-img{height: 25px; width: 25px;}
    .padd_img { padding-left: 3px !important; padding-top: 4px !important;}
    .padding_job_r ul .date_re {
        padding-left: 15px;
    }
    .user_lst li .follow-li-text a {
        font-size: 14px;
    }
    .profile-job-post-location-name ul li .follow-li-text {
        padding: 0px;
    }
    .user_btn button {
        font-size: 10px;
        width: 64px;
        padding: 2px 3px;
        margin-bottom: 11px;
        margin-top: 10px;
    }
    .prev, .next{top: 215px;}
    .folle_text {
        width: 43%;
        padding-left: 3px;
    }
    .follow-img {
        height: 40px;
        width: 40px;
    }
    .rsp {
        padding-left: 3px;
    }
    .post-design-box .post-design-desc .fr {
    padding: 3px 6px;
    font-size: 12px;
}
    .profile-job-post-detail .profile-job-post-title .profile-job-profile-menu ul li b {
       width: 42%;
font-size: 12px;
    }
    .profile-job-post-detail .profile-job-post-title .profile-job-profile-menu ul li span {
        width: 58%;
        font-size: 12px;
    }
    .profile-box-art .right-side-menu .pro-fw li a {
        padding-left: 1px !important;
        padding-right: 1px !important;
        font-size: 11px;
        text-align: center;
    }
   
    .nav > li > a {
        padding: 10px 7px;
    }
    .profile-main-rec-box-menu li a {
        padding: 10px 7px;
    }
    .job-menu-profile h5 {
        font-size: 16px;
        line-height: 1.5;
    }
    .profile-job-details {
        padding-left: 3px !important;
        padding-right: 1px !important;
    }
    .profile-job-details .post_title {
        width: 50%;
        font-size: 11px;
    }
    .date_re {
        font-size: 10px;
    }
    .profile-job-details .job_companyname {
        width: 140px;
    }
    .profile-job-details ul li p {
        font-size: 13px;
        font-weight: 600;
        padding-right: 8px;
        line-height: 10px;padding-left: 4px;
    }
    .profile-job-post-detail .profile-job-post-title .profile-job-profile-menu ul li span p {
        font-size: 12px;
    }
    .job_all_post {
        width: 100%;
        margin-bottom: 10px!important;
    }
    .profile-job-post-detail .profile-job-post-title .button {
        font-size: 12px;
        padding: 3px 14px !important;
    }
    .logo {
        padding: 7px 0 0px;
    }
    .right-side-menu {
        width: 100%;
    }
    .cmy_2 {
        width: 100%;
    }
    .two-images {
        height: 120px;
    }
    .three-image {
        height: 120px;
    }
    .four-image {
        height: 120px;
    }
    .more-image {
        height: 119px;
    }
    .three-image-top {
        height: 15%;
    }
    .post-design-name {
        padding-right: 0;
    }
    .editor-content {
        width: 77%;
        padding-left: 0;
    }
    .post-edit-popup .editor-content {
        width: 76%;
    }


    .comment-name {
        width: 78%;
    }
    .popup-text textarea::-webkit-input-placeholder {
        font-size: 10px;
    }
    .profile-main-box-buis-menu li a {
        font-size: 10px;
        height: 40px;
        padding: 5px 2px !important;
    }
    .profile-box-art .right-side-menu li a {
        font-size: 14px;
        font-weight: 500;
    }
    .cls-ve{top:23px;}
    .people-list .search input{width:92%;}

}
@media screen and (max-width: 320px) {

    .main-txt{width: 82%;}
    .main_raio [type="radio"]:checked + .point_radio, .main_raio [type="radio"]:not(:checked) + .point_radio{padding-left: 20px;}
    .how-it-popup{width: 97%;}
    .header2 ul li.active a{padding: 9px 0px 9px;}
    .created_date {font-size: 8px; letter-spacing: 0.5px;}
    .profile-job-details .post_title{font-size: 9px;}
}